<br>
<div class="row">

    <div class="col-md-3 ">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading accountpanelheading">
                            <p class="accountformppaddingfontsize">Product List
                            </p>
                        </div>
                        <div class="panel-body cursor-default">
                            <div class="table-responsive">
                                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)">
                                </ng2-smart-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading accountpanelheading">
                            <p class="accountformppaddingfontsize">Product Information
                            </p>
                        </div>
                        <div class="panel-body">
                                
                        
                                    
                            <form class="form-horizontal" [formGroup]="productForm" #myForm>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Product Name
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="name" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="productForm.controls['name'].hasError('required') && (productForm.controls['name'].dirty || productForm.controls['name'].touched)">
                                            Name Is Required</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label">
                                        Description
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="description" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="productForm.controls['description'].hasError('required') && (productForm.controls['description'].dirty || productForm.controls['description'].touched)">
                                            Description Is Required</span>
                                    </div>
                                </div>
                                <div *ngIf="productId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="addProduct();" type="submit">Update</button>
                                </div>
                                <div *ngIf="productId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="deleteProduct();" type="submit">Delete</button>
                                </div>
                                <div *ngIf="!productId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="addProduct();" type="submit">Save</button>
                                </div>
                                <div *ngIf="productId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="cancelProduct();myForm.reset();planform.reset();" type="submit">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading accountpanelheading">
                            <div class="row accountdivpaddingmargin">
                                <p class="col-md-10 accountformppaddingfontsize">Plan Information
                                </p>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-default shadow p-3 mb-5 bg-white rounded">
                                        <div class="table-responsive cursor-default">
                                            <ng2-smart-table [settings]="settingsPlan" [source]="sourcePlan" (userRowSelect)="userRowSelectPlan($event)">
                                            </ng2-smart-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form-horizontal" [formGroup]="planForm" #planform>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Plan Name
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="planName" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="planForm.controls['planName'].hasError('required') && (planForm.controls['planName'].dirty || planForm.controls['planName'].touched)">
                                            Plan Name Is Required</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Plan Sub Title
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input formControlName="planSubTitle" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="planForm.controls['planSubTitle'].hasError('required') && (planForm.controls['planSubTitle'].dirty || planForm.controls['planSubTitle'].touched)">
                                            Plan Sub Title Is Required</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Features
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">

                                        <textarea formControlName="features" style="height: 5rem;" class="form-control accountinputheight"></textarea>
                                        <span class="text-danger" *ngIf="planForm.controls['features'].hasError('required') && (planForm.controls['features'].dirty || planForm.controls['features'].touched)">
                                            Plan Features Is Required</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Price
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        <input type="number" formControlName="price" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="planForm.controls['price'].hasError('price') && (planForm.controls['price'].dirty || planForm.controls['price'].touched)">
                                            Price Id Required</span>
                                        <br>
                                    </div>
                                    <label class="col-md-2 col-form-label accountlabelpadding">
                                        Recommended Agency Price
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        <input formControlName="recommendedAgencyPrice" class="form-control accountinputheight" />
                                        <span class="text-danger" *ngIf="planForm.controls['recommendedAgencyPrice'].hasError('required') && (planForm.controls['recommendedAgencyPrice'].dirty || planForm.controls['recommendedAgencyPrice'].touched)">
                                            Recommended Agency Price Is Required</span>
                                        <br>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Payment Type
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        <select class="form-control" formControlName="paymentType">
                                            <option>Select</option>
                                            <option>payment</option>
                                            <option>recurring</option>
                                        </select>
                                        <!-- <input formControlName="paymentType" class="form-control accountinputheight" /> -->
                                        <span class="text-danger" *ngIf="planForm.controls['paymentType'].hasError('required') && (planForm.controls['paymentType'].dirty || planForm.controls['paymentType'].touched)">
                                            Payment Type Is Required</span>
                                        <br>
                                    </div>
                                    <label class="col-md-2 col-form-label accountlabelpadding">
                                        Payment Cycle
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-3">
                                        <select class="form-control" formControlName="paymentCycle">
                                            <option>Select</option>
                                            <option>month</option>
                                            <option>year</option>
                                            
                                        </select>
                                        <!-- <input formControlName="paymentCycle" class="form-control accountinputheight" /> -->
                                        <span class="text-danger" *ngIf="planForm.controls['paymentCycle'].hasError('required') && (planForm.controls['paymentCycle'].dirty || planForm.controls['paymentCycle'].touched)">
                                            Payment Cycle Is Required</span>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label accountlabelpadding">
                                        Currency
                                        <span class="accountspancolor">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select class="form-control" formControlName="currency">
                                            <option>Select</option>
                                            <option>USD</option>
                                            <option>INR</option>
                                        </select>
                                        <span class="text-danger" *ngIf="planForm.controls['currency'].hasError('required') && (planForm.controls['currency'].dirty || planForm.controls['currency'].touched)">
                                            Currency Is Required</span>
                                    </div>
                                </div>
                                <div *ngIf="planId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="addPlan();" type="submit">Update</button>
                                </div>
                                <div *ngIf="planId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="deletePlan();" type="submit">Delete</button>
                                </div>
                                <div *ngIf="!planId">
                                    <button class="mr-1 btn btn-sm float-right accountbtnbgcolor" (click)="createProductOnStripe();" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>