<nav class="navbar navbar-default navbar-fixed-top bg-white boxshadow2px" role="navigation">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/ei-logo.png" width="70%" height="70%" alt="">
    </a>
    <ul class="nav navbar-nav paddingright1per">
        <div class="row">
            <li class="fontsizelarge">Already have an account?
                <a
                    routerLink="/https://localhost:44349/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dtourmanagementclient%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A4200%252Fsignin-oidc%26response_type%3Did_token%2520token%26scope%3Dopenid%2520profile%2520roles%2520tourmanagementapi%26state%3D8e251cb953fe43be945adcbf98e50deb%26nonce%3D8794c0a7c9f5479b8f988b0f3be2d8a7">Login</a>
            </li>
        </div>
    </ul>
</nav>
<div class="container project-goals" style="padding-bottom: 0;">
    <div class="row">
        <div class="col-sm-12 result-driven-data">
            <p>TERMS OF USE FOR ACCESSING <a href="https://eintelligence.azureweebsites.net"
                    target="_blank">eintelligence.azureweebsites.net</a> <br>
                <br>
                These terms of use ("Terms") apply to all users of <a href="https://eintelligence.azureweebsites.net"
                    target="_blank">eintelligence.azureweebsites.net</a> (the "Website"). <br>
                <br>
                By using this Website you agree to be bound by these Terms. <br>
                <br>
                References in these Terms to "we" or "us" are references to e-Intelligence and “you” as users of
                e-Intelligence.in. <br>
                <br>
                Purpose of the Website <br>
                <br>
                This Website is made available to consumers/visitors/brewers/internet users who are looking for an
                internet marketing services like<br>
                <br>
            </p>
            <ul>
                <li>Online Marketing Services</li>
                <li>SEO Services</li>
                <li>Web Design Services</li>
                <li>PPC Services</li>
                <li>Search Engine Reputation Management Services</li>
                <li>Social Media Marketing Services</li>
                <li>Search Engine Ranking Recovery Services</li>
                <li>White Label SEO Services</li>
                <li>SEO Reseller Services</li>
                <li>White Label Web Design Services</li>
                <li>Lead generation services</li>
            </ul>
            <p>
                <strong>Privacy of Data</strong> <br><br>

                All Details of e-intelligence website will be stored securely on the web server. It is compulsory to
                refer and agree with our privacy policy.
            </p>
            <hr>

            <strong>Copyright and Trademarks</strong><br><br>

            The content, organization, graphics, design, style, Interface, compilation, digital conversion and every
            other matters related to the Site are protected under applicable Indian and international copyright,
            trademark and other proprietary (including but not limited to intellectual property) rights.
            “www.e-intelligence.in” and other marks are either trademarks or registered trademarks of e-Intelligence
            Services.
            <br><br>
            Other products/services, company names, brand names, and content displayed on the Site may be the trademarks
            or copyrights of their respective owners. The copying, redistribution, use or publication by user of any
            such matters or any part of the Site except as allowed by this Agreement is strictly prohibited. You agree
            and acknowledge that you do not acquire ownership rights to any content, document or other materials viewed
            through the Site. The posting of information or materials on the Site by e-Intelligence does not constitute
            a waiver of any rights in such information and materials.
            <br><br>
            <hr>
            <strong>Your obligations</strong><br><br>
            <strong>You agree that</strong><br><br>
            <ul>
                <li>You shall not use this Website for any purpose that is unlawful and illegal.</li>
                <li>You shall not try to penetrate the website and will not implant any virus, Trojan, worm, spyware,
                    malware, spam, spim, scareware, bots, logic bomb, time bomb, key-loggers and any other automated
                    tool like DOS or DDOS attack tool (Denial of Service attack) which may lead to computer related
                    offences on our website</li>
                <li>You shall not carry out any web jacking attacks on this website.</li>
            </ul>


            <hr>
            <strong>Third Party Links</strong><br><br>

            We may choose from time to time to provide links to various third-party websites from the Website. This may
            include links to sites owned by our associated companies. These third-party links are provided for your
            convenience only and are accessed at your own risk. You agree that we have no responsibility or liability
            for any independent policies or actions of these third-party sites and are not responsible in any way for
            the privacy practices, customer service practices, content or availability of any such websites. You also
            agree and acknowledge that we shall not be responsible in any way for any damage or loss caused in relation
            to the content, goods or services available through such websites.

            <hr>
            <strong>Liability</strong><br><br>

            To the maximum extent permitted by law, all representations, warranties, terms, conditions and commitments
            not expressly set out in these Terms are hereby excluded. We do not accept responsibility for any loss or
            damage that you suffer as a result of using the Website. In particular, we do not accept responsibility for
            (a) any loss of profits, loss of anticipated savings, loss of goodwill or loss of revenue; (b) any loss or
            corruption of data; or (c) any indirect or consequential loss.

            <hr>
            <strong>Indemnification</strong><br><br>

            You expressly acknowledge to indemnify, defend and hold e-Intelligence, its affiliates, officers, directors,
            employees and any other concerned third party inoffensive from and against all accusations, deficits,
            expenditures, costs and any other adversity (including reasonable attorneys’ fees), or other expenses that
            arise directly or indirectly out of your use of The Sites.

            <hr>
            <strong>Website Usage</strong><br><br>

            You agree that, the e-Intelligence website is only for the business use as it pertains to delivering digital
            marketing services. e-Intelligence restricts and prohibits the unlawful and harmful use of The Site.
            e-Intelligence cannot and does not guarantee or warrant that files accessible through The Site will be free
            of contagion or viruses, Trojan horses, worms or any other code that present contaminating or injurious
            properties. You agree to bear complete responsibility and risk associated with the use of The Site and the
            Internet. You fully understand that some of the material on the internet may be offensive or explicit and
            that your access to such data is at your own risk. e-Intelligence has no control over and/or accepts no
            accountability whatsoever for any such information.

            <hr>
            <strong>Amendments to these Terms</strong><br><br>

            We are serving the right to amend these Terms from time to time. When we make a change we will update this
            page of the Website. The date of the last revision to these Terms is set out at the end of them. We
            recommend that you revisit this page from time to time so as to ensure that you are aware of any changes
            that we have made to these Terms.
            <p></p>
        </div>
    </div>
</div>