.set-fontcolor {
    color: royalblue;
}

th:hover {
    text-underline-position: under;
}

.set-cursordefault {
    cursor: default;
}

.set-cursorpointer {
    cursor: pointer;
}

.set-table {
    margin-left: 81px;
    margin-right: 81px;
}