<div class="content-heading">
    <div>
        {{'user.CREATE' | translate}} {{'user.USER' | translate}}
    </div>
</div>

<div class="card card-default">
    <div class="card-header"></div>
    <div class="card-body">
        <form [formGroup]="valForm" class="form-horizontal" (submit)="submitForm(valForm.value)" novalidate="">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.FNAME' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="fName" class="form-control" placeholder="First Name" />
                        <span class="text-danger"
                            *ngIf="valForm.controls['fName'].hasError('required') && (valForm.controls['fName'].dirty || valForm.controls['fName'].touched)">
                            {{'validation.NAMEISREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.LNAME' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="lName" class="form-control" placeholder="Last Name" />
                        <span class="text-danger"
                            *ngIf="valForm.controls['lName'].hasError('required') && (valForm.controls['lName'].dirty || valForm.controls['lName'].touched)">
                            {{'validation.NAMEISREQUIRED' | translate}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">
                        {{'user.EMAIL' | translate}}</label>
                    <div class="col-md-10">
                        <input formControlName="email" class="form-control" placeholder="Email Address" />
                        <span class="text-danger"
                            *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                            {{'validation.EMAIL' | translate}}</span>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <label class="col-xl-2 col-form-label"></label>
                <div class="col-xl-10">
                    <button class="mr-1 mb-1 btn btn-outline-success"
                        type="submit">{{'button.SAVEBTN' | translate}}</button>
                    <a routerLink="/user"> <button
                            class="mr-1 mb-1 btn btn-outline-danger">{{'button.CANCELBTN' | translate}}</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>