<nav class="navbar navbar-default navbar-fixed-top bg-white boxshadow2px" role="navigation">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/ei-logo.png" width="70%" height="70%" alt="">
    </a>
    <ul class="nav navbar-nav paddingright1per">
        <div class="row">
            <li class="fontsizelarge">Already have an account?
                <a
                    routerLink="/https://localhost:44349/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dtourmanagementclient%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A4200%252Fsignin-oidc%26response_type%3Did_token%2520token%26scope%3Dopenid%2520profile%2520roles%2520tourmanagementapi%26state%3D8e251cb953fe43be945adcbf98e50deb%26nonce%3D8794c0a7c9f5479b8f988b0f3be2d8a7">Login</a>
            </li>
        </div>
    </ul>
</nav>
<div class="container project-goals" style="padding-bottom: 0;">
    <div class="row">
        <div class="col-sm-12 result-driven-data">
            <p>The issue of online privacy is extremely crucial for e-Intelligence.in which is committed to safeguarding
                the information provided by its customers and other visitors logging on to its Web site. As an
                organization dedicated to offering professional web, SEO, web design, PPC, SERM, SMM, ranking recovery,
                Agencyeasy SEO, SEO reseller, Agency Easy web design and lead generation services, e-Intelligence.in
                has been actively promoting the concept of privacy and its relevance for organizations with a cyber
                presence.
                <br>
                <br>
                Respecting the privacy of its online visitors while providing top-of-the-line services to customers has
                remained the core of e-Intelligence.in's strategy. Our Privacy Policy gives visitors a view of the
                Privacy Practice followed by e-Intelligence.in and assures them of safe passage through our Web site.
                <br>
                <br>
                At the same time, e-Intelligence.in would like to make it clear that its site provides links to other
                Web sites that are governed by their own Privacy Policies and does not take responsibility for the
                security provided by these sites. Visitors to the e-Intelligence.in site are urged to familiarize
                themselves with their respective Privacy Policies.
                <br>
                <br>
                When you provide us with your personal data, you are agreeing to the rules and regulations stipulated
                under our Privacy Policy and are bound by it. If you do not agree to our Policy please do not use the
                Site.<br>
                <br>
            </p>
            <hr>
            <p><strong>The Privacy Policy covers the following areas:<br><br></strong></p>
            <ul>
                <li>Type of information collected through the Web site</li>
                <li>Use and Disclosure of personal information</li>
                <li>Choice or Opt out</li>
                <li>Security</li>
            </ul>

            <hr>
            <p><strong>1. Type of information collected through the Web site</strong>
                <br><br>
                <strong>Personal information</strong>
                <br><br>
                Users visiting e-Intelligence.in website and providing information at the e-Intelligence.in site for
                specific services are requested to provide some personally identifiable information which becomes the
                property of e-Intelligence.in and can be shared, disclosed or distributed to third parties only in
                accordance with the Privacy Policy. <strong>It must be clarified here that providing information is not
                    required for visitors to the site who do not require any specific services.</strong><br><br></p>
            <hr>
            <p><strong>
                    2. Use and Disclosure of personal information</strong>
                <br><br>

                e-Intelligence.in will not sell or rent such personally identifiable information collected. The
                personally identifiable information is supplied voluntarily for some of the following purposes:
                <br><br>
                Data: If you are merely a visitor to our site, e-Intelligence.in does not collect any personal
                information about you, except to the limited extent through the use of cookies and IP address details.
                If you decide to enquire about certain services offered on the site, you will be asked to provide basic
                online contact information about yourself.
                <br><br>
                E-mail information: When we receive e-mails from you, we may retain the content of any e-mail messages
                sent to us, as well as details of your e-mail address.
                <br><br>
                Use of web-based tracking mechanisms such as Cookies
                <br><br>
                Cookies, which enable us to store small amounts of information contained in your Web site browser, may
                be used on some areas of our Website. Cookies, that help us track your navigation, enable us to tailor
                our offerings to your needs.
                <br><br>
                Third party Websites which are accessible from our Site via links, click-throughs or banner advertising
                may use Cookies. However, it is important for us to inform you that we have no access or control over
                such Cookies and do not accept responsibility with regards to them.</p>
            <hr>
            <p><strong>
                    3. Choice OR opt out</strong>
                <br><br>

                e-Intelligence.in gives you the choice regarding the collection and usage of your personally
                identifiable information. Again, it is not necessary for you to provide any information in order to
                access and use our Site. You may therefore choose to opt out of providing such information.
                <br><br>
                Further, once you provide information at the e-Intelligence.in site, you will have the option at any
                stage to inform us that you no longer wish to receive future e-mails and you may unsubscribe by sending
                a simple email with the subject UNSUSCRIBE on <a
                    >info@e-Intelligence.in</a>.</p>
            <hr>
            <p><strong>
                    4. Security Practices</strong>
                <br><br>

                e-Intelligence.in has implemented stringent, reasonably acceptable standards of technology and
                operational security in order to protect personally identifiable information from loss, misuse,
                alteration or destruction. The data resides behind a firewall, with access restricted to authorized
                e-Intelligence.in personnel.
                <br><br>
                e-Intelligence.in has implemented "Reasonable Security Practices" as required by law. By complying with
                such provisions, e-Intelligence.in assures proper care and control over its I.T. and Security operations
                and thus you agree and acknowledge that e-Intelligence.in shall not be held responsible for any cyber
                crime activity relating to your data.
                <br><br>
                By using this site you agree and acknowledge that e-Intelligence.in shall not be held responsible for
                any uncontrollable security attack and in such cases you agree that e-Intelligence.in shall not be held
                responsible for any type of financial, opportunity, legal, business (lost profits) and reputation losses
                that may occur to you.
                <br><br>
                You further agree that e-Intelligence.in top management shall not be held responsible directly or
                indirectly for any cyber crime related criminal liabilities relating to your information as you agree
                and acknowledge that management of e-Intelligence.in complies with due diligence requirements.
                <br><br>
                Contacting the web site
                <br><br>
                For questions regarding the privacy statement, practices of the site, or any other transaction issue,
                please contact <a>info@e-Intelligence.in</a>.</p>
        </div>
    </div>
</div>