<br><br>
<div class="text-center">
    <img class="imgheight30per" src="../../../../assets/img/ei-logo.png">
</div><br><br>
<div class="text-center">
    <img class="imgheight50px" src="../../assets/img/hand.PNG">
    <h6><b>You're all sert! </b></h6>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="card-body textaligncenter">
                <h3>Confratulations,You are now ready to outsource your digital marketing.</h3><br><br>
                <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="onClick()">Let's Start
                </button><br><br>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>