<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px">
        <a href="javascript:void(0);">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm" style="background-color: #F9FCFF;">

    <!-- Links -->
    <ul class="navbar-nav">
        <li>
            <div class="btn-group">
                <div class="btn-add-new-campaign btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                        aria-controls="dropdown-basic">
                        Select Campaign name
                        <span class="caret"> </span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">Campaign name</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="overview_menu" class="nav-link" data-third-menu="">
            <a href="javascript:void(0);" class="nav-link">
                <span class="fontsizesmall">Overview</span>
            </a>
        </li>
        <li id="analytics_menu" class="nav-link" data-third-menu="analytics_menu_index">
            <a href="javascript:void(0);" class="nav-link">
                <span class="fontsizesmall">Analytics</span>
            </a>
        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link">
                <span class="fontsizesmall">SEO</span>
            </a>

        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link">
                <span class="fontsizesmall">Social Media</span>
            </a>
        </li>
    </ul>
    <div class="overviewdivborder  move-center">
        <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="signInWithGoogle()">
            <i class="fa fa-twitter mr-1"></i>
            Login with Google
        </button>
    </div>

</nav>

<div class="row overviewmaindiv">
    <div class="col-lg-12"  [formGroup]="myForm">
        <div class="col-lg-3">
            Please Select Date Range
        </div>
        <div class="col-lg-3">
            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="20">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="startDatePicker"name="start" formControlName="fromDate" (dateChange)="onStartDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error>Please select start date!</mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-3">
            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="0">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" name="end"  [formControl]="toDate" (dateChange)="onEndDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
                <mat-error>Please select End date!</mat-error>
            </mat-form-field>
        </div>


    </div>
    <div class="col-lg-12">

        <div class="overviewdivfontspadding"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5"> Clicks</h2>
                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container">
                    <canvas baseChart id="canvas" [chartType]="'line'" [options]="barOptions"
                        [datasets]="barDataClicks.datasets" [colors]="barColors" [labels]="barChartLabels"
                        [legend]="true" height="50">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">

        <div class="overviewdivfontspadding"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5"> Impressions</h2>
                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container">
                    <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                        [datasets]="barDataImpressions.datasets" [colors]="barColors" [labels]="barChartLabels"
                        [legend]="true" height="50">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="overviewdivfontspadding"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5"> Site CTR</h2>
                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container">
                    <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                        [datasets]="barDataCTR.datasets" [colors]="barColors" [labels]="barChartLabels"
                        [legend]="true" height="50">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="overviewdivfontspadding"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5"> Positions</h2>
                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container">
                    <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                        [datasets]="barDataPositions.datasets" [colors]="barColors" [labels]="barChartLabels"
                        [legend]="true" height="50">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>