<nav class="navbar navbar-expand-sm" style="background-color: #F9FCFF;">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"  (click)="goToSocialMedia($event)">Facebook</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"  (click)="goToLinkedIn($event)" >Linkedin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"  (click)="goToInstagram($event)">Instagram</a>
        </li>
    </ul>
</nav>