<!-- <app-kanban-board></app-kanban-board>  -->

<div *ngIf="showSpinnertoLoadDashboard" class="la-line-scale  linescaleloadercolortopleft givemargintop">
    <div style="background-color: #dc3545;"></div>
    <div style="background-color: #dc3545;"></div>
    <div style="background-color: #dc3545;"></div>
    <div style="background-color: #dc3545;"></div>
    <div style="background-color: #dc3545;"></div>
</div>
<div *ngIf="!showSpinnertoLoadDashboard">
    <div class="row homemaindiv" *ngIf="hasGaSetup">
        <div class="col-sm-1">


        </div>

        <div class="col-lg-10">

            <div class="card card-default shadow p-3 bg-white rounded  cursor-default">
                <div class="col-lg-12">
                    <h2 class="healthscorecard">Agency Health Score: {{agencyScore}}&nbsp;%</h2>
                </div>
            </div>
            <div class="row setbuttonpadding">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="onClick()">Add Project</button>
                    <!--div class="col-md-2">
                    <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="instagramapp()">Test</button>
                    <div class="col-md-1"></div>
                </div-->
                </div>
            </div>
            <!-- <div class="card card-default shadow p-3 mb-5 bg-white rounded  cursor-default">
            <div class="col-lg-12" >

                <div class="col-lg-3">
                    <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="initGoogleAuth()">
                        <i class="fa fa-twitter mr-1"></i>
                        Login with Google
                    </button>
                </div>

                <div class="col-lg-3">
                    <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="loginWithOptions(0)">
                        <i class="fa fa-twitter mr-1"></i>
                        Login with Facebook
                    </button>
                </div>
            </div>
        </div>   -->



            <div class="card card-default shadow p-3 mb-5 bg-white rounded  cursor-default">
                <!-- <div class="card-header">
                <div class="row">
                    <div class="col-md-3">Lunch a Web Audit</div>
                    <div class="col-md-7"></div>
                    <div class="col-md-2"><a href="#" (click)="goToAudits($event)">View all Audits</a></div>
                </div>
            </div> -->
                <div class="card-body homedivborder">
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData1" [options]="pieOptions1"
                                    [labels]="pieChartLabels1" [chartType]="pieChartType1"></canvas>

                            </div>
                            <span class="giveMarginForLabels"> Ranking Performance</span>
                        </div>

                        <div class="col-lg-4">
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData2" [options]="pieOptions2"
                                    [labels]="pieChartLabels2" [chartType]="pieChartType2"></canvas>
                            </div>
                            <span class="giveMarginForLabels">&nbsp; Traffic Performance</span>
                        </div>

                        <div class="col-lg-4">
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData3" [labels]="pieChartLabels3"
                                    [options]="pieOptions3" [chartType]="pieChartType3"></canvas>
                            </div>
                            <span class="giveMarginForLabels">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Conversions</span>
                        </div>

                    </div>

                    <div class="row paddingtop25px">
                        <div class="col-lg-4">
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData4" [options]="pieOptions4"
                                    [labels]="pieChartLabels4" [chartType]="pieChartType4"></canvas>
                            </div>
                            <span class="giveMarginForLabels">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Impressions</span>

                        </div>

                        <div class="col-lg-4" hidden>
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData5" [labels]="pieChartLabels5"
                                    [options]="pieOptions5" [chartType]="pieChartType5"></canvas>
                            </div>
                            <span class="giveMarginForLabels"> Social Media Engagement</span>
                        </div>

                        <div class="col-lg-4" hidden>
                            <div style="display: block">
                                <canvas baseChart [data]="pieChartData6" [labels]="pieChartLabels6"
                                    [options]="pieOptions6" [chartType]="pieChartType6"></canvas>
                            </div>
                            <span class="giveMarginForLabels"> Conversions PPC</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row cursor-default" [formGroup]="myForm">
        <div class="col-md-1"></div>
        <div class="col-md-2 fontsizelarger fontweightnormal fontcolorblack paddingtop25px">Your Projects</div>

        <div class="col-md-3 search-container paddingtop13px setsearchpadding">
            <input #search class="form-control ng-valid ng-dirty ng-valid-parse ng-touched ng-empty homeinputwidth "
                type="text" placeholder="Search for Projects" (keyup)="onSearch(search.value)">
            <div class="col-md-1"></div>
        </div>

        <div class="col">

            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="40">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="fromDate"
                    (dateChange)="onStartDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error>Please select start date!</mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="40">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" name="end" [formControl]="toDate"
                    (dateChange)="onEndDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
                <mat-error>Please select End date!</mat-error>
            </mat-form-field>
        </div>

    </div>
    <hr>
    <br>
    <div class="row m-4">
        <div class="col-md-12">
            <div class="card card-default shadow p-3 mb-5 bg-white rounded cursor-default set-table ">
                <div>
                    <div class="table-responsive cursor-pointer">
                        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"
                            (custom)="onCustomAction($event)">
                        </ng2-smart-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>