<app-submenu></app-submenu>
<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn">
        <a href="javascript:void(0);" (click)="closeAddKeyword($event)">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<div *ngIf="settingActive == 1;" class="row w3-container w3-center w3-animate-right keyworddivpaddingtop">
    <div class="col-md-2"> </div>
    <div class="col-md-8">

        <form [formGroup]="valForm" class="form-horizontal card keywordformheight" (keydown.enter)="$event.preventDefault()" (submit)="submitForm(valForm.value)" novalidate="">
            <div *ngIf="showSpinner" class="la-line-scale la-2x linescaleloadercolortopleft">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <tabset *ngIf="!showSpinner" [justified]="true" #staticTabs>
                <tab class="keywordtabheight cursor-default">
                    <ng-template tabHeading>
                        <p class="keywordpfontl">Keywords</p>
                    </ng-template>

                    <div class="row cursor-default">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 keyworddiv1paddingtop">
                            <h1>What keywords would you like to track?</h1>
                            <h3>Add one keyword per line or use the suggestion tool to retrieve related keywords.</h3>
                            <hr>
                            <label>KEYWORDS</label>
                            <textarea id="textarea1" (keydown.enter)="triggerFunction($event)" type="textarea" #keyword_field class="form-controltextareaheight" cols='60' rows="10" formControlName="keyword" placeholder="Enter keyword here..."></textarea>
                            <span class="text-danger" *ngIf="valForm.controls['keyword'].hasError('required') && (valForm.controls['keyword'].dirty || valForm.controls['keyword'].touched)">
                                {{'validation.KEYWORDISREQUIRED' | translate}}</span>
                            <br>
                            <div class="text-center">
                                <button class="mr-1 btn btn-primary btn-lg" type="submit" (click)="goToNextTab($event,keyword_field.value,'keyword',1)">Next </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </tab>
                <tab class="keywordtabheight cursor-default" tab="2">
                    <ng-template tabHeading>
                        <p class="keywordpfontl">Locations</p>
                    </ng-template>
                    <div class="row cursor-default">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 keywordaddpaddingtop">
                            <h1>Where do you want to track these keywords?</h1>
                            <h3> Add one location by city, country or region</h3>
                            <hr>
                            <label>LOCATIONS</label>

                            <div class="form-group row ">


                                <select #location_field class="col-sm-12 countrydropdown" formControlName="location" (change)="setSelectedLocation($event)" form="carform" searchable="Search here..">
                                    <option [ngValue]="null" [disabled]="true">Select country name</option>
                                    <option value={{country.country_iso_code}} *ngFor="let country of countriesList">
                                        {{country.location_name}}</option>
                                </select>

                                <span class="text-danger" *ngIf="valForm.controls['location'].hasError('required') && (valForm.controls['location'].dirty || valForm.controls['location'].touched)">
                                    {{'validation.LOCATIONISREQUIRED' | translate}}</span>
                            </div>
                            <div class="form-group row setheightrow">
                                <div *ngIf="showSpinnerLocationContent" class="la-line-scale  linescaleloadercolortopleft">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="col-md-6 setpaddinginlinestart" *ngIf="showLocationStates">
                                    <select #location_field_state class="countrydropdown" (change)="setSelectedLocationState(location_field_state.value)" form="carform" searchable="Search here..">
                                        <option [ngValue]="null" [disabled]="true">State or Province</option>
                                        <option value={{state.location_code}} *ngFor="let state of state">
                                            {{state.location_name}}</option>
                                    </select>

                                    <span class="text-danger" *ngIf="valForm.controls['location'].hasError('required') && (valForm.controls['location'].dirty || valForm.controls['location'].touched)">
                                        {{'validation.LOCATIONISREQUIRED' | translate}}</span>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6 setelementright setpaddinginlineend" *ngIf="showLocationCities">
                                    <select #location_field_city class="countrydropdown " (change)="setSelectedLocationCity(location_field_city.value)" form="carform" searchable="Search here..">
                                        <option [ngValue]="null" [disabled]="true">City</option>
                                        <option value={{cities.location_code}} *ngFor="let cities of cities">{{cities.location_name}}
                                        </option>
                                    </select>

                                    <span class="text-danger" *ngIf="valForm.controls['location'].hasError('required') && (valForm.controls['location'].dirty || valForm.controls['location'].touched)">
                                        {{'validation.LOCATIONISREQUIRED' | translate}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit" (click)="goToPreviousTab($event,0)">
                                        < Go Back</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <div class="col-md-4">
                                        <!-- <a routerLink="./home"> -->
                                        <button class="mr-1 btn btn-primary btn-lg" type="submit">Submit</button>
                                        <!-- </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </tab>

            </tabset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row" >
    <div class="col-md-1"></div>
    <div class="col-md-3 keywordfontsw">
        <h4 class="paddingtop25px ">Keyword Rankings</h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3 search-container paddingtop13px">
        <input #search class="form-control ng-valid ng-dirty ng-valid-parse ng-touched ng-empty keywordinputwidth" type="text" placeholder="Search for keywords" (keyup)="onSearch(search.value)">

    </div>
    <div class="col-md-2">
        <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="onClickToAddKeyword($event)">Add a
            Keyword</button>

        <div class="col-md-1"></div>
    </div>
</div>
<hr>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card card-default shadow p-3 mb-5 bg-white rounded cursor-default">
            <div class="table-responsive">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)" (custom)="onCustomAction($event)">
                </ng2-smart-table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>