<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px">
        <a href="javascript:void(0);">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<app-submenu></app-submenu>
<app-socialmedia-submenu></app-socialmedia-submenu>
<!-- A grey horizontal navbar that becomes vertical on small screens -->

<div class="card card-default shadow p-3 mb-5 bg-white rounded cursor-set">
    <div class="row">
        <div class="card-text setcampaign">
            Campaign name: {{selectedCampaignName}}
        </div>
        <div class="col move-center">
            <!-- <div class="col-md-3">
                <select class="form-control" [(ngModel)]="period" (change)="onSelect($event.target.value)">
                    <option value='0'>Select Date Range</option>
                    <option value='day'>Yesterday</option>
                    <option value='week'>Week</option>
                    <option value='days_28' selected>28 Days</option>
                </select>
            </div> -->
            <div [formGroup]="myForm">
                <div class="col">

                    <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="20">
                        <mat-label>Start date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="fromDate" (dateChange)="onStartDateChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error>Please select start date!</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="0">
                        <mat-label>End date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" name="end" [formControl]="toDate" (dateChange)="onEndDateChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                        <mat-error>Please select End date!</mat-error>
                    </mat-form-field>
                    <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="testDateSlab()">Test</button>
                </div>
            </div>
            <!-- <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="loginWithOptions()">
                <i class="fa fa-facebook mr-1"></i>
                Login with Facebook
            </button> -->
        </div>

        <!-- <div class="col-md-2">

            <select class="form-control" [(ngModel)]="period" (change)="onSelect($event.target.value)">
                <option value='0'>Select Date Range</option>
                <option value='day'>Yesterday</option>
                <option value='week'>Week</option>
                <option value='days_28' selected>28 Days</option>
            </select>
        </div> -->
    </div>
</div>
<div class="row  justify-content-center">

    <div class="col-md-4  justify-content-center">
    </div>
</div>
<div class="row overviewmaindiv">
    <div class="col-lg-12">

        <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12page col-md-10 fontsize15px colour-set">Facebook: Performance Summary
                    </h2>

                </div>

            </div>
            <div class="widget-content">
                <div class="overviewdivborder">

                    <div class="row">
                        <div class="col-sm-3">
                            <h3 class="colour-light">PAGE PROFILE VIEWS</h3>
                            <div class="row">
                                <div class="col">
                                    <h3 class="fontxlrge">{{profileViewTotal}}</h3>
                                </div>
                                <div class="col">
                                    <h3 *ngIf="percentProfileView > 0" class="text-success"><span><i
                                                class="fas fa-arrow-up"></i></span> {{percentProfileView.toString().replace('-', '')}}%</h3>
                                    <h3 *ngIf="percentProfileView < 0" class="text-danger"><span><i
                                                class="fas fa-arrow-down"></i></span> {{percentProfileView.toString().replace('-', '')}}%</h3>
                                </div>
                            </div>
                            <h3 class="fontsizesmall">Avg. per day : {{avgProfileView}}</h3>
                        </div>
                   
                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <h3 class="colour-light">TOP EXTERNAL REFERRER</h3>
                            <table class="table table-bordered font-weight-bold colour-light">
                                <thead>
                                    <tr>
                                        <td>
                                            URL
                                        </td>
                                        <td>
                                            COUNT
                                        </td>
                                        <!-- <td>
                                            %
                                        </td> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let h of externalReferrerList; let i = index;">
                                        <td class="text-blue">
                                            {{h.url}}
                                        </td>
                                        <td class="text-blue">
                                            {{h.count}}
                                        </td>
                                        <!-- <td class="text-blue">35%</td> -->
                                    </tr>
                            </table>
                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <h3 class="colour-light">PAGE CLICKS</h3>
                            <h3 class="fontxlrge">{{pageClicksTotal}}</h3>
                            <div class="col">
                                <h3 *ngIf="percentPageClicks > 0" class="text-success"><span><i
                                            class="fas fa-arrow-up"></i></span>{{percentPageClicks.toString().replace('-', '')}} % </h3>
                                <h3 *ngIf="percentPageClicks < 0" class="text-danger"><span><i
                                            class="fas fa-arrow-down"></i></span>{{percentPageClicks.toString().replace('-', '')}} % </h3>
                            </div>
                            <h3 class="fontsizesmall">Avg. per day : {{avgPageClicks}}</h3>

                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-2">
                            <h3 class="colour-light"> +Ve VS -Ve FEEDBACK</h3>


                            <table class="table table-bordered font-weight-bold colour-light">
                                <thead>
                                    <tr>

                                        <td>
                                            POSITIVE
                                        </td>
                                        <td>
                                            FEEDBACK
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-blue">
                                            {{percentPositive}}%
                                        </td>
                                        <td style="color:red;">
                                            {{percentNegative}}%
                                        </td>
                                    </tr>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
        </div>



      <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-10 fontsize15px colour-set">Facebook: Audience Summary</h2>

                </div>

            </div>
            <div class="widget-content">
                <div class="overviewdivborder">

                    <div class="row">
                        <div class="col-sm-3">
                            <h3 class="colour-light">TOTAL PAGE LIKES</h3>
                            <h3 class="fontxlrge">{{pagelikesTotal}}</h3>

                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <h3 class="colour-light">NEW LIKES</h3>
                            <h3 class="fontxlrge">{{pageNewlikesTotal}}</h3>
                            <h3 class="fontsizesmall">Avg. per day : {{avgpageNewlikes}}</h3>
                            <h3 class="fontsizesmall">{{percentpageNewlikes.toString().replace('-', '')}}%</h3>
                        </div>

                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <h3 class="colour-light">LIKES LOST</h3>
                            <h3 class="fontxlrge">{{lostLikes}}</h3>
                            <h3 class="fontsizesmall">Avg. per day : {{avgLostLikes}}</h3>
                            <h3 class="fontsizesmall">{{percentlostLikes.toString().replace('-', '')}}%</h3>
                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-2">
                            <h3 class="colour-light"> ORGANIC VS PAID LIKES</h3>
                            <table class="table table-bordered font-weight-bold colour-light">
                                <thead>
                                    <tr>

                                        <td>
                                            ORGANIC
                                        </td>
                                        <td>
                                            PAID
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-blue">
                                            {{percentPositive}}%
                                        </td>
                                        <td style="color:red;">
                                            {{percentNegative}}%
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-10 fontsize15px colour-set">Facebook: Page Views Via External Referrers
                        </h2>

                    </div>

                </div>
                <div class="widget-content">
                    <div class="overviewdivborder">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered font-weight-bold colour-light">
                                    <thead>
                                        <tr>
                                            <td>
                                                URL
                                            </td>
                                            <td>
                                                VIEWS
                                            </td>
                                            <!-- <td>
                                                VIEW %
                                            </td> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let h of externalReferrerList; let i = index;">
                                            <td class="text-blue">
                                                {{h.url}}
                                            </td>
                                            <td class="text-blue">
                                                {{h.count}}
                                            </td>
                                            <!-- <td class="text-blue">35%</td> -->
                                        </tr>
                                </table>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-10 fontsize15px colour-set">Facebook: Page Unlikes by Source
                        </h2>

                    </div>

                </div>
                <div class="widget-content">
                    <div class="overviewdivborder">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered font-weight-bold colour-light">
                                    <thead>
                                        <tr>
                                            <td>
                                                SOURCE
                                            </td>
                                            <td>
                                                UNLIKES
                                            </td>
                                            <td>
                                                UNLIKES %
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let h of pageUnlikeList; let i = index;">
                                            <td class="text-blue">
                                                {{h.source}}
                                            </td>
                                            <td class="text-blue">
                                                {{h.count}}
                                            </td>
                                            <td class="text-blue">{{h.percent}}% </td>
                                        </tr>
                                </table>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!-- <div class="col-sm-2">
            <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
                <div class="widget-content">
                    <div class="overviewdivborder">
                        <h3 class="colour-light">LIKES LOST</h3>
                        <h3 class="fontxlrge">{{lostLikes}}</h3>
                        <h3 class="fontsizesmall">Avg. per day : {{avgLostLikes}}</h3>
                    </div>
                </div>
            </div>

        </div> -->
        <!-- <div class="vl"></div>
        <div class="col-sm-2">
            <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
                <div class="overviewdivborder">
                    <h3 class="colour-light"> ORGANIC VS PAID LIKES</h3>
                    <table class="table table-bordered font-weight-bold colour-light">
                        <thead>
                            <tr>

                                <td>
                                    ORGANIC
                                </td>
                                <td>
                                    PAID
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-blue">
                                    {{percentPositive}}%
                                </td>
                                <td style="color:red;">
                                    {{percentNegative}}%
                                </td>
                            </tr>
                    </table>
                </div>
            </div>

        </div> -->
    </div>


    <div class="col-lg-12">
        <div class="card card-default shadow bg-white rounded height200pxfit-content cursor-set">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-10 fontsize15px colour-set">Facebook: Impression Summary</h2>

                </div>

            </div>
            <div class="widget-content">
                <div class="overviewdivborder">

                    <div class="row">
                        <div class="col-sm-3">
                            <h3 class="colour-light">PAGE IMPRESSIONS</h3>
                            <h3 class="fontxlrge">{{pageImpressionsTotal}}</h3>
                            <h3 class="fontsizesmall">Avg. per day : {{avgPageImpression}}</h3>
                            <h3 class="fontsizesmall">{{avgPageImpression}}</h3>
                            <h3 class="fontsizesmall">{{percentpageImpressions}}%</h3>
                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <h3 class="colour-light">PAGE REACH</h3>
                            <h3 class="fontxlrge">{{pageReachTotal}}</h3>
                            <h3 class="fontsizesmall">Avg. per day : {{pageReachTotal}}</h3>
                            <h3 class="fontsizesmall">{{percentPageReach}}%</h3>
                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-3">
                            <div class="overviewdivborder">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="colour-light"> ORGANIC VS PAID REACH</h3>
                                        <table class="table table-bordered font-weight-bold colour-light">
                                            <thead>
                                                <tr>

                                                    <td>
                                                        ORGANIC
                                                    </td>
                                                    <td>
                                                        PAID
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-blue">
                                                        {{percentOrganicReach}}%
                                                    </td>
                                                    <td class="text-blue">
                                                        {{percentPaidReach}}%
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-sm-2">
                            <h3 class="colour-light">TOP COUNTRY</h3>
                            <table class="table table-bordered font-weight-bold colour-light">

                                <thead>
                                    <tr>
                                        <td>COUNTRIES</td>

                                        <td>
                                            COUNT
                                        </td>
                                        <td>%</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-blue">
                                            {{totalimpressionByCountryName}}
                                        </td>
                                        <td class="text-blue">
                                            {{totalimpressionByCountryCount}}
                                        </td>
                                        <td class="text-blue">{{totalimpressionByCountryPercent}}% </td>
                                    </tr>
                            </table>
                        </div>
                    </div>





                </div>

            </div>
        </div>
    </div>
</div>