
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="padding-left: 62%;height: 20px;"><a routerLink="./home">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>

<div class="row w3-container w3-center w3-animate-right" style="padding-top: 20px;">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form [formGroup]="valForm" class="form-horizontal card" (keydown.enter)="$event.preventDefault()" (submit)="submitForm(valForm.value)" novalidate=""
            style="height: 410px;">
            <tabset [justified]="true" #staticTabs>
                <tab style="height: 335px;">
                    <ng-template tabHeading>
                        <p style="font:large arial;">Campaign Name</p>
                    </ng-template>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="padding-top: 50px;">
                            <h1> Name Your Campagin</h1>
                            <h3> Your client's campaign name</h3>
                            <hr>
                            <label>CAMPAIGN NAME</label>
                            <input #name_field class="form-control" formControlName="name" placeholder="Name of your campaign"
                                style="height: 3.1575rem;">
                            <span class="text-danger"
                                *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                {{'validation.NAMEISREQUIRED' | translate}}</span>
                                <br>
                            <div class="text-center">
                                <button class="mr-1 btn btn-primary btn-lg" type="submit" (click)="goToNextTab($event,name_field.value,'name',1)">Next </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </tab>
                <tab  style="height: 335px;" tab="2">
                    <ng-template tabHeading>
                        <p style="font:large arial;">Website</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10" style="padding-top: 50px;">
                            <h1>Enter a Website</h1>
                            <h3> Provide your client's website to launch your new campaign</h3>
                            <hr>
                            <label>WEBSITE URL</label>
                            <div class="form-group row">
                                <input #webUrl_field class="form-control" type="url" placeholder="http:// or https://"
                                    formControlName="webUrl" [formControl]="valForm.controls['webUrl']"
                                    style="height: 3.1575rem;" />
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('required') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLREQUIRED' | translate}}</span>
                                    <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('pattern') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLVALIDATION' | translate}}</span>
                            </div>
                          
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit" (click)="goToPreviousTab($event,0)">
                                        < Go Back</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-primary btn-lg" type="submit" (click)="goToNextTab($event,webUrl_field.value,'webUrl',2)">Next
                                        ></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </tab>
                <tab style="height: 335px;">
                    <ng-template tabHeading>
                        <p style="font:large arial;">Goals</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 10px;">
                            <h1> What would you like to accomplish?</h1>
                            <h3> Set the goal of your campaign by selecting one or all. (Optional)</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded"
                                        style="height: 135px;">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input formControlName="moreTraffic" class="form-check-input"
                                                    type="checkbox" value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-globe"></em><br>
                                                <p style="font-size: large;">MORE TRAFFIC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded"
                                        style="height: 135px;">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="sales" class="form-check-input"
                                                    value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-store"></em><br>
                                                <p style="font-size: large;">SALES</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded">
                                        <div class="card-body form-check-inline text-center">

                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="leadGeneration"
                                                    class="form-check-input" value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-users"></em><br>
                                                <p style="font-size: large;">LEAD GENERATION</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit" (click)="goToPreviousTab($event,1)">
                                        < Go Back</button>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-4">
                                    <!-- <a routerLink="./home"> -->
                                    <button class="mr-1 btn btn-primary btn-lg" type="submit"
                                        (click)="successAlert()">Create
                                        campaign</button>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>
            </tabset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>