<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px">
        <a href="javascript:void(0);" (click)="closeCreateCampaignComponent($event)">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<!-- <app-submenu></app-submenu> -->
<div *ngIf="settingActive == 1;" class="row w3-container w3-center w3-animate-right paddingtopdiv"
    style="height: 500px;">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form [formGroup]="valForm" class="form-horizontal card formh cursor-default"
            (keydown.enter)="$event.preventDefault()" (submit)="submitForm(valForm.value)" novalidate="">
            <tabset [justified]="true" #staticTabs>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Campaign Name</p>
                    </ng-template>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <h1> Name Your Campagin</h1>
                            <h3 style="margin-top: 0.2rem;"> Your client's campaign name</h3>
                            <hr>
                            <div class="row">
                                <label>CAMPAIGN NAME</label>
                                <input #name_field class="form-control campinputh" formControlName="name"
                                    placeholder="Name of your campaign">
                                <span class="text-danger"
                                    *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                    {{'validation.NAMEISREQUIRED' | translate}}</span>
                                <br>
                                <br>
                            </div>

                            <!--span class="text-danger" *ngIf="valForm.controls['select'].hasError('required') && (valForm.controls['select'].dirty || valForm.controls['select'].touched)">This
                                    field is required</span-->

                            <br>
                            <div class="text-center">
                                <button class="mr-1 btn btn-danger btn-lg" type="submit" [disabled]="!name_field.value"
                                    (click)="goToNextTab($event,name_field.value,'name',1)">Next </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </tab>
                <tab class="tabh" tab="2">
                    <ng-template tabHeading>
                        <p class="tabp">Website</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 paddingtopcampname">
                            <h1>Enter a Website</h1>
                            <h3> Provide your client's website to launch your new campaign</h3>
                            <hr>
                            <label>WEBSITE URL</label>
                            <div class="form-group row">
                                <input #webUrl_field class="form-control campinputh" type="url" formControlName="webUrl"
                                    placeholder="Ex. example.com (Without http:// and https:// ) "
                                    [formControl]="valForm.controls['webUrl']" />
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('required') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLREQUIRED' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('pattern') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLVALIDATION' | translate}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                        (click)="goToPreviousTab($event,0)">
                                        < Go Back</button>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
                                        <p fxFlex="20" *ngIf="!isEditMode">
                                            <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                                (click)="successAlert()"
                                                [disabled]="!webUrl_field.value || (valForm.controls['webUrl'].hasError('pattern'))">Create
                                                campaign</button>
                                        </p>
                                        <p fxFlex="30" *ngIf="isEditMode">
                                            <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                                (click)="successAlert()">Update
                                                campaign</button>
                                        </p>
                                        <div fxFlex="10"></div>
                                        <p fxFlex="30" *ngIf="isEditMode">
                                            <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                                (click)="goToNextTab($event,name_field.value,'webUrl',2)">Integrations
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </tab>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Integrations</p>
                    </ng-template>
                    <div class="row-md-12 cursor-default">
                        <div class="col-md-12" class="goaldiv">
                            <div class="row-md-12">

                                <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex="100">
                                    <div fxFlex="30">
                                        <div
                                            class="card card-default shadow bg-white rounded cursor-default integration-box-hight">
                                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                                <div>
                                                    <div fxLayout="column" fxLayoutALign="space-around center">
                                                        <!-- <em class="fa-2x mr-2 fas fa-users"></em><br> -->
                                                        <p class="goalfonsize">
                                                            <button class="mr-1 btn btn-danger btn-lg" type="button"
                                                                (click)="integrateGoogleAnalytics()">Google
                                                                Analytics</button>
                                                        </p>
                                                        <form [formGroup]="gaSelectForm" class="goalfonsize"
                                                            *ngIf="hasGaSetup">
                                                            <select id="gaSelect" style="width: 120px;"
                                                                class="form-control" formControlName="gaSelect"
                                                                (change)="onSelectGa($event.target.value)">
                                                                <option [ngValue]="undefined" [disabled]="true">Please
                                                                    Select
                                                                </option>
                                                                <option *ngFor="let gaAccount of gaAccounts"
                                                                    [value]="gaAccount">{{ gaAccount }}</option>
                                                            </select>
                                                        </form>
                                                        <p class="goalfonsize" *ngIf="hasGaSetup">

                                                        </p>
                                                        <p class="goalfonsize" *ngIf="hasGaSetup">
                                                            <button type="button" class="btn btn-danger"
                                                                (click)="saveGaAccount()" [disabled]="!isGaEdit">Save
                                                                Changes</button>
                                                        </p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div fxFlex="30">
                                        <div
                                            class="card card-default shadow bg-white rounded cursor-default integration-box-hight">
                                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                                <div>
                                                    <div fxLayout="column" fxLayoutALign="space-around center">
                                                        <!-- <em class="fa-2x mr-2 fas fa-globe"></em> -->

                                                        <p class="goalfonsize">
                                                            <button class="mr-1 btn btn-danger btn-lg" type="button"
                                                                (click)="integrateGSC()">Google Search Console</button>
                                                        </p>
                                                        <form [formGroup]="gaSelectForm" class="goalfonsize"
                                                            *ngIf="hasGscSetup">
                                                            <select id="gscSelect" style="width: 120px;"
                                                                class="form-control" formControlName="gscSelect"
                                                                (change)="onSelectGsc($event.target.value)">
                                                                <option [ngValue]="undefined" [disabled]="true">Please
                                                                    Select
                                                                </option>
                                                                <option *ngFor="let gscAccount of gscAccounts"
                                                                    [value]="gscAccount">{{ gscAccount }}</option>
                                                            </select>
                                                        </form>
                                                        <p class="goalfonsize" *ngIf="hasGscSetup">

                                                        </p>
                                                        <p class="goalfonsize" *ngIf="hasGscSetup">
                                                            <button type="button" class="btn btn-danger"
                                                                (click)="saveGscAccount()" [disabled]="!isGscEdit">Save
                                                                Changes</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxFlex="30">
                                        <div
                                            class="card card-default shadow bg-white rounded cursor-default integration-box-hight">
                                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                                <div>
                                                    <div fxLayout="column" fxLayoutALign="space-around center">
                                                        <!-- <em class="fa-2x mr-2 fas fa-store"></em><br> -->
                                                        <p class="goalfonsize">
                                                            <button class="mr-1 btn btn-danger btn-lg" type="button"
                                                                (click)="loginWithOptions()">Facebook</button>
                                                        </p>
                                                        <form [formGroup]="gaSelectForm" class="goalfonsize"
                                                            *ngIf="hasFacebookSetup">
                                                            <select id="facebookSelect" class="form-control"
                                                                formControlName="facebookSelect"
                                                                (change)="onSelectFacebook($event.target.value)">
                                                                <option [ngValue]="undefined" [disabled]="true">Please
                                                                    Select
                                                                </option>
                                                                <option
                                                                    *ngFor="let facebookAccount of facebookAccounts"  [value]="facebookAccount">{{
                                                                    facebookAccount }}</option>
                                                            </select>
                                                        </form>
                                                        <p class="goalfonsize" *ngIf="hasFacebookSetup">

                                                        </p>
                                                        <p class="goalfonsize" *ngIf="hasFacebookSetup">
                                                            <button type="button" class="btn btn-danger"
                                                                (click)="saveFacebookAccount()"
                                                                [disabled]="!isFacebookEdit">Save
                                                                Changes</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="row-md-12">
                                <!--Google ads hidden-->
                                <div fxFlex="row" fxLayoutAlign="space-around center" fxFlex="100">

                                    <div fxFlex="30">
                                        <div
                                            class="card card-default shadow bg-white rounded cursor-default integration-box-hight">
                                            <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                                                <div>
                                                    <div fxLayout="column" fxLayoutALign="center center">
                                                        <!-- <em class="fa-2x mr-2 fas fa-store"></em><br> -->
                                                        <p class="goalfonsize">
                                                            <button class="mr-1 btn btn-danger btn-lg" type="button"
                                                                (click)="goToAddKeywords()">Add Keywords
                                                            </button>
                                                        </p>
                                                        <p class="goalfonsize">

                                                            <button class="mr-1 btn btn-danger btn-lg" type="button"
                                                                (click)="goToKeywords()">Keywords
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-md-16">
                        <div class="col-md-10">
                            <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                (click)="goToPreviousTab($event,1)">
                                < Go Back</button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>



                </tab>
            </tabset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row" *ngIf="settingActive == 2;">
    <div class="col-md-1"></div>
    <div class="col-md-3 campmaindiv">
        <h4 class="camph4 paddingtop30px">All Projects</h4>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2 paddingtop13px">
        <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="AddCampaign()">Add Project</button>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-3 search-container paddingtop13px">
        <input #search class="form-control ng-valid ng-dirty ng-valid-parse ng-touched ng-empty searchcampw" type="text"
            placeholder="Search for campaigns" (keyup)="onSearch(search.value)">
        <div class="col-md-1"></div>
    </div>

</div>
<hr *ngIf="settingActive == 2;">
<br>
<div class="row m-4" *ngIf="settingActive == 2;">
    <div class="col-md-12">
        <div class="card card-default shadow p-3 mb-5 bg-white rounded cursor-default">
            <div class="table-responsive cursor-pointer">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"
                    (custom)="onCustomAction($event)">
                </ng2-smart-table>
            </div>
        </div>
    </div>
</div>

<!-- Update Campagin -->

<div class="row" *ngIf="settingActive == 4;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px">
        <a href="javascript:void(0);" (click)="closeCampaignComponent($event)">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<div *ngIf="settingActive == 4;" class="row w3-container w3-center w3-animate-right paddingtopdiv">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form [formGroup]="valForm" class="form-horizontal card formh cursor-default"
            (keydown.enter)="$event.preventDefault()" (submit)="updateCampaignForm(campaignModel)" novalidate="">
            <tabset [justified]="true" #staticTabs>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Campaign Name</p>
                    </ng-template>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 paddingtopcampname">
                            <h1> Name Your Campagin</h1>
                            <h3> Your client's campaign name</h3>
                            <hr>
                            <label>CAMPAIGN NAME</label>
                            <input #name_field class="form-control campinputh" formControlName="name"
                                placeholder="Name of your campaign" [(ngModel)]='campaignModel.name'>
                            <span class="text-danger"
                                *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                {{'validation.NAMEISREQUIRED' | translate}}</span>
                            <br>
                            <div class="text-center">
                                <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                    (click)="goToNextTabForEdit($event,name_field.value,'name',1)">Next </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </tab>
                <tab class="tabh" tab="2">
                    <ng-template tabHeading>
                        <p class="tabp">Website</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 paddingtopcampname">
                            <h1>Enter a Website</h1>
                            <h3> Provide your client's website to launch your new campaign</h3>
                            <hr>
                            <label>WEBSITE URL</label>
                            <div class="form-group row">
                                <input #webUrl_field class="form-control campinputh" type="url"
                                    placeholder="http:// or https://" formControlName="webUrl"
                                    [formControl]="valForm.controls['webUrl']" [(ngModel)]='campaignModel.webUrl' />
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('required') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLREQUIRED' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('pattern') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLVALIDATION' | translate}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                        (click)="goToPreviousTab($event,0)">
                                        < Go Back</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                        (click)="goToNextTabForEdit($event,webUrl_field.value,'webUrl',2)">Next
                                        ></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </tab>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Goals</p>
                    </ng-template>
                    <div class="row cursor-default">
                        <div class="col-md-12" class="goaldiv">
                            <h1> What would you like to accomplish?</h1>
                            <h3> Set the goal of your campaign by selecting one or all. (Optional)</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div
                                        class="card card-default shadow p-2 mb-2 bg-white rounded goalsubh cursor-default">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input formControlName="moreTraffic" class="form-check-input"
                                                    type="checkbox" value="" [(ngModel)]='campaignModel.moreTraffic'>
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-globe"></em><br>
                                                <p class="goalfonsize">MORE TRAFFIC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div
                                        class="card card-default shadow p-2 mb-2 bg-white rounded goalsubh cursor-default">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="sales" class="form-check-input"
                                                    value="" [(ngModel)]='campaignModel.sales'>
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-store"></em><br>
                                                <p class="goalfonsize">SALES</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded cursor-default">
                                        <div class="card-body form-check-inline text-center">

                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="leadGeneration"
                                                    class="form-check-input" value=""
                                                    [(ngModel)]='campaignModel.leadGeneration'>
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-users"></em><br>
                                                <p class="goalfonsize">LEAD GENERATION</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                        (click)="goToPreviousTab($event,1)">
                                        Go Back</button>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-4">
                                    <!-- <a routerLink="./home"> -->
                                    <button class="mr-1 btn btn-danger btn-lg" type="submit"
                                        (click)="updateSuccessAlert();">Update
                                        campaign</button>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>
            </tabset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row maindiv" *ngIf="settingActive == 3;">
    <div class="col-lg-12">

        <div class="overviewdivfontspadding"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5"> Rankings summary</h2>
                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                    <canvas baseChart id="canvas" [chartType]="'bar'" [options]="barOptions"
                        [datasets]="barData.datasets" [colors]="barColors" [labels]="barChartLabels" [legend]="true"
                        height="50">
                    </canvas>
                </div>
                <div class="btn-container footer-buttons text-center">
                    <a href="javascript:void(0)" class="btn btn-link" (click)="goToKeywords()">All Rankings</a>
                    &nbsp;&nbsp;&nbsp;
                    <button class="mr-1 btn btn-danger btn-sm" (click)="goToAddKeywords()">Add Keywords</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">

        <div class="maindivanalyticsoverview"></div>

        <div class="card card-default shadow bg-white rounded">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-5">Traffic Sources</h2>


                </div>

            </div>
            <div class="card-body row">
                <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                    <div *ngIf="showSpinnerBaseChart" class="la-line-scale  linescaleloadercolortopleft">
                        <div style="background-color: #dc3545;"></div>
                        <div style="background-color: #dc3545;"></div>
                        <div style="background-color: #dc3545;"></div>
                        <div style="background-color: #dc3545;"></div>
                        <div style="background-color: #dc3545;"></div>
                    </div>
                    <canvas *ngIf="!showSpinnerBaseChart" baseChart [datasets]="lineChartData"
                        [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                        [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
                    </canvas>
                </div>


                <!-- *ngIf="!hasActiveAccount && !hasAuthorize" -->
                <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
                    <div class="widget-overlay-content text-center">
                        <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                        <div class="text-center btn-container">
                            <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                                &nbsp;&nbsp;Integrate Google Analytics</a>
                            <!-- <img src="assets/img/ga.png"> -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>