
<br><br>
<div class="text-center">
    <img class="imgheight80per" src="../../../../assets/img/ei-logo.png">
</div>
<br><br>
<div class="col-md-4">
</div>
<div calss="col-md-4">
    <!-- <div class="card-body"> -->
    <!-- <div class="card card-default"> -->
    <div class="text-center">
        <div class="width: 100rem; height: 100rem;">

            <h1 class="h1colordarkbluepadding20px">Welcome!</h1><br>
            <img class="imgheight100px" src="../../../../../assets/img/email-logo1.png" />
            <br><br>
            <h3>Agency Activated Successfully</h3>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>
<div class="col-md-4">
</div>