<div class="wrapper" style="overflow:hidden;">
    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-wrapper">
                <section id="login">

                    <nav class="navbar navbar-default navbar-fixed-top bg-white" style="box-shadow: 2px 2px #e9e6e6;" role="navigation">
                        <a class="navbar-brand" href="#">
                            <!-- <img src="./assets/img/ei-logo.png" width="30%" height="30%" alt="" /> -->
                        </a>

                    </nav>

                    <br />
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-5">
                            <div class="card text-center card-default shadow p-3 mb-5 bg-white rounded">
                                <div class="card mb-3">
                                    <img src="../../../../assets/img/failurepay.png" class="card-img-top" alt="success payment-img" style="width:16rem;height: auto;align-self: center;align-items: center;align-content: center;">
                                    <div class="col-md-2"></div>
                                    <div class="card-body">

                                        <h5 class="card-title" style="text-align: center; font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                            Your Payment failed</h5>

                                        <a routerLink="/store" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;align-items: center;">
                                                Please try again</a>


                                    </div>
                                </div>
                                <!--div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
    
                                            <p style="text-align: center; font-size: x-large;">Payment Failed !</p>
                                            <div class="text-center">
                                                <div class="card">
                                                    <a routerLink="/store"> Try Again. </a>
                                                </div>
                                            </div>
    
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div-->

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </section>
                <!--Login Page Starts-->

                <!--Login Page Ends-->

            </div>
        </div>
        <!-- END : End Main Content-->
    </div>
</div>