.divider{
    width: 350px;
    text-align: center;
    color: grey;
}
.divider hr{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.btn{
    font-size: larger;
}