<nav class="navbar navbar-default navbar-fixed-top bg-white boxshadow2px" role="navigation">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/ei-logo.png" width="70%" height="70%" alt="">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div  class="collapse navbar-collapse" id="navbarSupportedContent"> -->
    <ul class="nav navbar-nav paddingright1per">
        <div class="row">
            <li class="fontsizelarge">Already have an account?
                <a routerLink="/https://localhost:44349/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dtourmanagementclient%26redirect_uri%3Dhttps%253A%252F%252Flocalhost%253A4200%252Fsignin-oidc%26response_type%3Did_token%2520token%26scope%3Dopenid%2520profile%2520roles%2520tourmanagementapi%26state%3D8e251cb953fe43be945adcbf98e50deb%26nonce%3D8794c0a7c9f5479b8f988b0f3be2d8a7">Login</a>
            </li>
        </div>
    </ul>
    <!-- </div> -->
</nav>

<!--card body signup form-->
<div class="row ">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <div class="card card-default shadow p-3 mb-5 bg-white rounded bordertopwidth0px">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card-body">
                        <!-- <div class="row"> -->
                        <div class="text-center" style="margin-top:0px;">
                            <div class="card">
                                <div class="card-body">
                                    <p class="textaligncenter fontsizexlarge paddingtop3px">Create your Account</p>

                                    <img class="imgheight20px" src="../../../../assets/img/google.png">&nbsp; Sign up with Google
                                </div>
                            </div>
                        </div>
                        <!-- </div><br> -->

                        <!-- <div class="divider">
                            <hr class="left" />or
                            <hr class="right" />
                        </div> -->

                        <form [formGroup]="valForm" class="form-horizontal" (submit)="submitForm(valForm.value)" novalidate="" #registerForm="ngForm">

                            <div class="form-group">
                                <div class="row">
                                    <label class="labelcss">EMAIL</label>
                                    <p class="pcolorred">*</p>
                                    <input formControlName="email" class="form-control inputheight3rem" type="email" placeholder="Enter your email" />
                                    <span class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                        {{'validation.EMAIL' | translate}}</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <label class="labelcss">PASSWORD</label>
                                    <p class="pcolorred">*</p>
                                    <input formControlName="password" class="form-control inputheight3rem" type="password" placeholder="Enter new password" />
                                    <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">
                                        {{'validation.PASSWORDISREQUIRED' | translate}}</span>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row">
                                            <label class="labelcss">FIRST NAME</label>
                                            <p class="pcolorred">*</p>
                                            <input class="form-control inputheight3rem" formControlName="fName" placeholder="i.e. Johhn" />
                                            <span class="text-danger" *ngIf="valForm.controls['fName'].hasError('required') && (valForm.controls['fName'].dirty || valForm.controls['fName'].touched)">
                                                {{'validation.NAMEISREQUIRED' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <label class="labelcss">LAST NAME</label>
                                            <p class="pcolorred">*</p>
                                            <input class="form-control inputheight3rem" formControlName="lName" placeholder="i.e. Doe" />
                                            <span class="text-danger" *ngIf="valForm.controls['lName'].hasError('required') && (valForm.controls['lName'].dirty || valForm.controls['lName'].touched)">
                                                {{'validation.NAMEISREQUIRED' | translate}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label class="labelcss">COMPANY NAME</label>
                                    <p class="pcolorred">*</p>
                                    <input class="form-control inputheight3rem" type="text" placeholder="Enter your company name" formControlName="cName">
                                    <span class="text-danger" *ngIf="valForm.controls['cName'].hasError('required') && (valForm.controls['cName'].dirty || valForm.controls['cName'].touched)">
                                        {{'validation.NAMEISREQUIRED' | translate}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label class="labelcss">COMPANY TYPE</label>
                                    <p class="pcolorred">*</p>
                                    <div class="col-md-3">
                                        <input type="radio" formControlName="companytype" value="agency" name="companytype"> AGENCY
                                    </div>
                                    <div class="col-md-2"> </div>
                                    <div class="col-md-3">
                                        <input type="radio" formControlName="companytype" value="business" name="companytype"> BUSINESS
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label class="labelcss">COMPANY LOGO</label>
                                    <p class="pcolorred">*</p>
                                    <input class="form-control inputheight3rem" type="file" placeholder="Choose your company logo" formControlName="companyImageUrl" (change)="getBase64($event)">
                                    <p>( Please upload your image file in 45 x 45 )</p>
                                    <span class="text-danger" *ngIf="valForm.controls['companyImageUrl'].hasError('required') && (valForm.controls['companyImageUrl'].dirty || valForm.controls['companyImageUrl'].touched)">
                                        {{'No File Choosen' | translate}}</span>
                                </div>
                            </div>
                            <fieldset></fieldset>
                            <div class="text-center">
                                <button class="mr-1 btn btn-primary btn-lg" type="submit" (click)="onClick()" [disabled]="!registerForm.form.valid">Create an Account</button>
                            </div>
                            <br>
                            <div class="text-center" style="font-size:10pt;">
                                <p>By logging in, you agree to White Label Board's
                                </p>
                            </div>
                            <div class="row text-center paddingleft115px">
                                <a (click)="goToTermsAndConditions($event)">
                                    <p class="pcolorblue">Terms of Use </p>
                                </a>
                                <p class="paddingleft5px paddingright5px">and</p>
                                <a (click)="goToPrivacyPolicy($event)">
                                    <p class="pcolorblue"> Privacy Policy</p>
                                </a>
                            </div>
                            <div class="text-center">
                                <p>
                                    <span>&copy;</span>
                                    <span> 2020 White Label Board</span>
                                </p>
                            </div>
                            <!-- <div class="text-center">
                                <a (click)="goToTermsAndConditions($event)"><p class="pcolorblue">Terms and Conditions</p></a>
                            </div> -->
                        </form>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3"></div>
</div>