<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm" style="background-color: #F9FCFF;">

    <!-- Links -->
    <ul class="navbar-nav">
        <!-- <li>
            <div class="btn-group">
                <div class="btn-add-new-campaign btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                        aria-controls="dropdown-basic">
                        {{selectedCampaignName !== undefined ? selectedCampaignName : 'select your campaign'}}
                        <span class="caret"> </span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu overviewulheightmax" role="menu"
                    aria-labelledby="button-basic">
                    <li role="menuitem" *ngFor="let campaign of campaignList"
                        [ngClass]="{'active': selectedCampId == campaign.id}"><a class="dropdown-item"
                            (click)="onCampaignSelect($event,campaign)" href="javascript:void(0);">{{campaign.name}}</a></li>
                </ul>
                </div>
            </div>
        </li> -->
        <li id="overview_menu" class="nav-link" data-third-menu="">
            <a href="javascript:void(0);" class="nav-link" (click)="goToSeoOverview($event)">
                <span class="fontsizesmall">SEO</span>
            </a>
        </li>
        <li id="analytics_menu" class="nav-link" data-third-menu="analytics_menu_index">
            <a href="javascript:void(0);" class="nav-link" (click)="goToGoogleAdsOverview($event)">
                <span class="fontsizesmall">Google Ads</span>
            </a>
        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link"  (click)="goToSocialMedia($event)">
                <span class="fontsizesmall">Social Media</span>
            </a>
        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link"  (click)="goToTest($event)">
                <span class="fontsizesmall">TEST</span>
            </a>
        </li>
    </ul>
</nav>