<br><br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2 set-button">
        <button class="mr-1 btn btn-danger btn-lg" type="button" (click)="goToInviteUser()"> + Invite User</button>
        <div class="col-md-1"></div>
    </div>

</div>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="card card-default set-cursor">
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table">
                        <thead>
                            <tr>
                                <th class="set-fontcolor">USER NAME</th>
                                <th class="set-fontcolor">USER EMAIL</th>
                                <th class="set-fontcolor">CURRENT ROLE</th>
                                <th class="set-fontcolor">CHANGE ROLE</th>
                                <th class="set-fontcolor">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of UserList">
                                <td>{{p.fName}} {{p.lName}}</td>
                                <td>{{p.emailID}}</td>
                                <td>{{p.CompanyRole}}</td>
                                <td>
                                    <select name="role" #role aria-placeholder="Select Role" (change)="onRoleChange(p,role.value)" (click)="onClick(p.CompanyRole)">
                                        <option selected> &nbsp;-&nbsp;-Select Role-&nbsp;-&nbsp; </option>
                                        <option *ngFor="let role of roleList" value={{role}}>{{role}}</option>
                                    
                                    </select>


                                </td>
                                <td>
                                    <div *ngIf="(p.emailID==id2)&&(p.CompanyRole!==companyRole2)" (click)="onRoleSelected(p)">
                                        <i class="fa fa-check-square green-color set-icon"></i>
                                    </div>
                                    &nbsp;
                                    <div class="text-danger col" (click)="onCompanyUserSelect(p)">
                                        <i class="fas fa-trash-alt"></i>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>
</div>
<!-- display model for change role -->
<!--ng-template #changeAccess>
    <form [formGroup]="valForm" class="form-validate form-horizontal" (submit)="submitForm(valForm.value)" novalidate="">
        <div class="modal-header">
            <h4 class="modal-title">Change Role</h4>
            <button type="button" class="close close-btn" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"-->

<!-- Role -->
<!--div class="form-group row">
                <label class="col-md-3 label-control">Role</label>
                <div class="col-md-6">
                    <ngx-select [items]="roleList" formControlName="role" placeholder="No role selected">
                    </ngx-select>
                    <span class="text-danger" *ngIf="valForm.controls['role'].hasError('required') && (valForm.controls['role'].dirty || valForm.controls['role'].touched)">
                        {{'validation.NAMEISREQUIRED' | translate}}</span>
                    <br>
                </div>
                <div class="col-md-3 label-control text-muted">
                    Required</div>
            </div>
        </div>
    </form>
</ng-template-->