<div class="row">
    <div class="col-sm-3 storesubdivpadding">
        <!-- max-width: 18%; -->
        <div class="card" [style.height.px]="maxHeight">
            <div class="card-body">
                <p class="storepfontsize">Services</p><br>
                <a (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}" class="storeafontwfonts"><em
                        class="fa-1.9x fas fa-code-branch"></em>
                    &nbsp;Link Building</a>
                <hr>
                <a (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}" class="storeafontwfonts"><em
                        class="fa-1.9x fas fa-code-branch"></em>
                    &nbsp;Content Writing Packages</a>
                <hr>
                <a (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}" class="storeafontwfonts"><em
                        class="fa-1.9x fas fa-code-branch"></em>
                    &nbsp;Local SEO Packages (Monthly Recurring)</a>
                <hr>
                <a (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}" class="storeafontwfonts"><em
                        class="fa-1.9x fas fa-code-branch"></em>
                    &nbsp;Business SEO Packages</a>
                <hr>
                <a (click)="settingActive=5" [ngClass]="{'active': (settingActive == 5)}" class="storeafontwfonts"><em
                        class="fa-1.9x fas fa-code-branch"></em>
                    &nbsp;Website Design Packages</a>

            </div>
        </div>
    </div>
    <div class="col-md-9">

        <div *ngFor="let product of products">
            <div *ngIf="settingActive == 1 && product.id == 1">
                <div class="card b cart-container">
                    <div class="card-header storepfontsize">{{product.name}}</div>
                    <div class="container mt-2 storeproductdivheight">
                        <div class="row pad-18">
                            <div class="col-md-3 col-sm-6 item" *ngFor="let plan of product.plans">
                                <div class="card item-card card-block" [style.height.px]="maxHeight/1.2">
                                    <h3 class="card-title font-weight-bold text-left">{{plan.name}}</h3>
                                    <p class="">{{plan.title}}</p>
                                    <p class="service-link">
                                        {{plan.subTitle}}
                                    </p>
                                    <hr>
                                    <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                        <ul class="list-group list-group-flush storeulpaddingtop"
                                            *ngFor="let feature of plan.features">
                                            <li class="text-left storelistyle">{{feature}}</li>
                                        </ul>
                                    </div>
                                    <div class="product-buttons-box">
                                        <button class="btn btn-success btn-block btn-lg checkout-btn">
                                            BUY NOW for {{plan.price}}
                                            <span data-toggle="popover"><i class="fa fa-info-circle"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="settingActive == 2 && product.id == 2">
                <div class="card b cart-container">
                    <div class="card-header storepfontsize">{{product.name}}</div>
                    <div class="container mt-2 storeproductdivheight">
                        <div class="row pad-18">
                            <div class="col-md-6 col-sm-6 item" *ngFor="let plan of product.plans">
                                <div class="card item-card card-block" [style.height.px]="maxHeight">
                                    <h3 class="card-title font-weight-bold mt-3 mb-3 text-left">{{plan.name}}</h3>
                                    <p class="">{{plan.title}}</p>
                                    <p class="service-link">
                                        {{plan.subTitle}}
                                    </p>
                                    <hr>
                                    <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                        <ul class="list-group list-group-flush storeulpaddingtop"
                                            *ngFor="let feature of plan.features">
                                            <li class="text-left storelistyle">{{feature}}</li>
                                        </ul>
                                    </div>
                                    <div class="product-buttons-box">
                                        <button class="btn btn-success btn-block btn-lg checkout-btn">
                                            BUY NOW for {{plan.price}}
                                            <span data-toggle="popover"><i class="fa fa-info-circle"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="settingActive == 3 && product.id == 3">
                <div class="card b cart-container">
                    <div class="card-header storepfontsize">{{product.name}}</div>
                    <div class="container mt-2 storeproductdivheight">
                        <div class="row pad-18">
                            <div class="col-md-4 col-sm-6 item" *ngFor="let plan of product.plans">
                                <div class="card item-card card-block" [style.height.px]="maxHeight + 50">
                                    <h3 class="card-title font-weight-bold mt-3 mb-3 text-left">{{plan.name}}</h3>
                                    <p class="">{{plan.title}}</p>
                                    <p class="service-link">
                                        {{plan.subTitle}}
                                    </p>
                                    <hr>
                                    <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                        <ul class="list-group list-group-flush storeulpaddingtop"
                                            *ngFor="let feature of plan.features">
                                            <li class="text-left storelistyle">{{feature}}</li>
                                        </ul>
                                    </div>
                                    <div class="product-buttons-box">
                                        <button class="btn btn-success btn-block btn-lg checkout-btn">
                                            BUY NOW for {{plan.price}}
                                            <span data-toggle="popover"><i class="fa fa-info-circle"></i></span>
                                        </button>
                                        <div class="product-resell-price-box text-center">
                                            <span>Recommended Agency Price : {{plan.recommended_agency_price}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="settingActive == 4 && product.id == 4">
                <div class="card b cart-container">
                    <div class="card-header storepfontsize">{{product.name}}</div>
                    <div class="container mt-2 storeproductdivheight">
                        <div class="row pad-18">
                            <div class="col-md-4 col-sm-6 item storeproductdivheightmax"
                                *ngFor="let plan of product.plans">
                                <div class="card item-card card-block">
                                    <h3 class="card-title font-weight-bold mt-3 mb-3 text-left">{{plan.name}}</h3>
                                    <p class="">{{plan.title}}</p>
                                    <p class="service-link">
                                        {{plan.subTitle}}
                                    </p>
                                    <hr>
                                    <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                        <ul class="list-group list-group-flush storeulpaddingtop"
                                            *ngFor="let feature of plan.features">
                                            <li class="text-left storelistyle">{{feature}}</li>
                                        </ul>
                                    </div>
                                    <div class="product-buttons-box storeulpaddingtop">
                                        <button class="btn btn-success btn-block btn-lg checkout-btn">
                                            BUY NOW for {{plan.price}}
                                            <span data-toggle="popover"><i class="fa fa-info-circle"></i></span>
                                        </button>
                                    </div>
                                    <div class="product-resell-price-box text-center">
                                        <span>Recommended Agency Price : {{plan.recommended_agency_price}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="settingActive == 5 && product.id == 5">
                <div class="card b cart-container">
                    <div class="card-header storepfontsize">{{product.name}}</div>
                    <div class="container mt-2 storeproductdivheight">
                        <div class="row pad-18">
                            <div class="col-md-6 col-sm-6 item storeproductdivheightmax"
                                *ngFor="let plan of product.plans">
                                <div class="card item-card card-block" [style.height.px]="maxHeight + 50">
                                    <h3 class="card-title font-weight-bold mt-3 mb-3 text-left">{{plan.name}}</h3>
                                    <p class="">{{plan.title}}</p>
                                    <p class="service-link">
                                        {{plan.subTitle}}
                                    </p>
                                    <hr>
                                    <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                        <ul class="list-group list-group-flush storeulpaddingtop"
                                            *ngFor="let feature of plan.features">
                                            <li class="text-left storelistyle">{{feature}}</li>
                                        </ul>
                                    </div>
                                    <div class="product-buttons-box storeulpaddingtop">
                                        <button class="btn btn-success btn-block btn-lg checkout-btn">
                                            BUY NOW for {{plan.price}}
                                            <span data-toggle="popover"><i class="fa fa-info-circle"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>