<br><br>
<div class="text-center">
    <img class="imgheight30per" src="../../../../assets/img/ei-logo.png">
</div>
<br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-5">
                <h1>Getting to know you</h1>
                <h4> This is it.</h4><br>
                <h4>Are you servicing more than 10 clients right now?
                </h4><br><br><br><br><br>
                <button class="mr-1 btn btn-danger btn-lg" type="submit" (click)="onClick()"> No </button>&nbsp;
                <button class="mr-1 btn btn-danger btn-lg" type="submit" (click)="onClick()"> Yes </button>

            </div>
            <div class="col-md-4">
                <div class="alert alert-info">
                    <strong class="colorblack">"</strong>
                    <h4 class="colorblack">
                        The staff is amazing and the technology shows my clients exactly what they need to see.
                        SEO.Reseller.com allows us to resell SEO and is the key to our growing organiztion.<br><br>
                        <b>-Rising Ideas</b></h4><br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>