.bordertopwidth0px {
    border-top-width: 0px;
}

.textaligncenter {
    text-align: center;
}

.fontsizexlarge {
    font-size: x-large;
}

.paddingtop3px {
    padding-top: 3px;
}

.form-group {
    margin-top: 3px;
}

.labelcss {
    font-weight: 500;
    font-size: 9pt;
}

.form-control {
    margin-top: 0px;
}

.card-body {
    cursor: default;
}

.pcolorred {
    color: red;
}

.inputheight3rem {
    height: 3.00rem;
}