<div class="row">
    <div class="col-md-5">
        <div>
            <div class="container mt-4 storeproductdivheight">
                <div class="row pad-18">
                    <div class="col-md-12 item" *ngFor="let plan of plans">
                        <div class="card item-card card-block" [style.height.px]="maxHeight/1.2">
                            <h3 class="card-title font-weight-bold text-left">{{plan.name}}</h3>
                            <p class="">{{plan.name}}</p>
                            <p class="service-link">
                                {{plan.subtitle}}
                            </p>
                            <hr>
                            <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                <ul class="list-group list-group-flush storeulpaddingtop" >
                                    <li class="text-left storelistyle">{{plan.features}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div>
            <div class="container mt-4 storeproductdivheight">
                <div class="row pad-18">
                    <div class="col-md-12 item" *ngFor="let plan of plans">
                        <div class="card item-card card-block" [style.height.px]="maxHeight/1.2">
                            <h3 class="card-title font-weight-bold text-left">Please Select Campaign before Checkout</h3>
                            <div class="btn-group">
                                <div class="btn-group" dropdown>

                                </div>
                            </div>
                            <hr>
                            <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                <select class="form-control"   [(ngModel)]="campaignDrp" #mySelect (change)="onChange(mySelect.value)" >
                                    <option value="00000000-0000-0000-0000-000000000000"> Select Campaign</option>
                                    <option *ngFor="let campaign of campaignList" [value]="campaign.id"> {{campaign.name}} </option>
                                  </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 checkoutdiv">
        <div>
            <div class="card b mb-2" *ngFor="let plan of plans">
                <div class="card-header bb">
                    <h4 class="card-title">Order Summnary</h4>
                </div>
                <div class="card-body bt">
                    <h4 class="b0">Order #</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Plan Name</td>
                            <td>
                                <div class="text-right text-bold">{{plan.name}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>
                                <div class="text-right text-bold">{{plan.price}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>
                                <div class="text-right text-bold">$0</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-right text-right">
                            <div class="text-bold">{{plan.price}}</div>
                            <div class="text-sm">{{plan.currency}}</div>
                        </div>
                        <div class="float-left text-bold text-dark">ORDER TOTAL</div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <button class="btn btn-primary btn-block" (click)="makePayment();" type="button">CHECKOUT</button>
                    </p>
                    <span class="text-muted text-sm">* Terms and conditions</span>
                </div>
                <div class="card-body"  *ngIf="campaignError==true">
                <div class="alert alert-danger">
                    <strong>Error!</strong> Plaese select Campaign before checkout.
                  </div>
                </div>

                
            </div>
        </div>

    </div>
   