<div class="row">
    <!-- <div class="col-sm-3 storesubdivpadding">
        <div class="card" [style.height.px]="maxHeight">
            <div class="card-body">
                <p class="storepfontsize">Services</p>
                <br>
                <a (click)="settingActive=1" [ngClass]="{'active': (settingActive == 1)}" class="storeafontwfonts">
                    &nbsp;Link Building</a>
                <br>
                <br>
                <a (click)="settingActive=2" [ngClass]="{'active': (settingActive == 2)}" class="storeafontwfonts">
                    &nbsp;Content Writing Packages</a>
                <br>
                <br>
                <a (click)="settingActive=3" [ngClass]="{'active': (settingActive == 3)}" class="storeafontwfonts">
                    &nbsp;Local SEO Packages (Monthly Recurring)</a>
                <br>
                <br>
                <a (click)="settingActive=4" [ngClass]="{'active': (settingActive == 4)}" class="storeafontwfonts">
                    &nbsp;Business SEO Packages</a>
                <br>
                <br>
                <a (click)="settingActive=5" [ngClass]="{'active': (settingActive == 5)}" class="storeafontwfonts">
                    &nbsp;Website Design Packages</a>

            </div>
        </div>
    </div> -->
    <div class="col-md-5">
        <div>

            <div class="container mt-4 storeproductdivheight">
                <div class="row pad-18">
                    <div class="col-md-12 item" *ngFor="let plan of plans">
                        <div class="card item-card card-block" [style.height.px]="maxHeight/1.2">
                            <h3 class="card-title font-weight-bold text-left">{{plan.name}}</h3>
                            <p class="">{{plan.name}}</p>
                            <p class="service-link">
                                {{plan.subtitle}}
                            </p>
                            <hr>
                            <div class="product-attributes-box card-body storesubdivpaddinginitial">
                                <ul class="list-group list-group-flush storeulpaddingtop" >
                                    <li class="text-left storelistyle">{{plan.features}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 checkoutdiv">
        <div>
            <div class="card b mb-2" *ngFor="let plan of plans">
                <div class="card-header bb">
                    <h4 class="card-title">Order Summnary</h4>
                </div>
                <div class="card-body bt">
                    <h4 class="b0">Order #</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Plan Name</td>
                            <td>
                                <div class="text-right text-bold">{{plan.name}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>
                                <div class="text-right text-bold">{{plan.price}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>
                                <div class="text-right text-bold">$0</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-right text-right">
                            <div class="text-bold">{{plan.price}}</div>
                            <div class="text-sm">USD</div>
                        </div>
                        <div class="float-left text-bold text-dark">ORDER TOTAL</div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <button class="btn btn-primary btn-block" (click)="makePayment();" type="button">CHECKOUT</button>
                    </p>
                    <span class="text-muted text-sm">* Terms and conditions</span>
                </div>
            </div>
        </div>

    </div>
   