<br><br>
<div class="text-center">
    <img class="imgheight30per" src="../../../../assets/img/ei-logo.png">
</div><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-5">
                    <h1>Hey there!</h1> <br>
                    <h4>It's great to have you onboard with SEOReseller.</h4><br>
                    <p>We're excited to work with you and be your partner in growth.We've helped thousands of clients
                        improve ranking,and helped marketers build powerful digital marketing agencies.
                    </p><br>
                    <button class="mr-1 btn btn-danger btn-lg" type="submit" (click)="onClick()">Let's get
                        Started</button>

                </div>
                <div class="col-lg-4">
                    <!-- <div class="text-center"> -->
                    <div class="alert alert-info">
                        <strong class="colorblack">"</strong>
                        <p class="colorblack">
                            By far the best SEO reseller
                            provider we've worked with.
                            Their plans are reasonably
                            priced and staff is
                            phenomenal.I highly recommend them.<br><br>
                            <b>-Rising Ideas</b> </p><br><br><br>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>