<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px"><a href="javascript:void(0);"
            (click)="closeCreateCampaignComponent($event)">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<app-submenu></app-submenu>
<div *ngIf="isShowLoginButton" class="overviewdivborder  move-center">
    <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="signInWithGoogle()">
        <i class="fa fa-twitter mr-1"></i>
        Login with Google
    </button>
</div>
<div class="card card-default shadow p-3 mb-5 bg-white rounded set-middle cursor-default">
    <div class="col-lg-10" [formGroup]="myForm">
        <div class="col-lg-2">
            Please Select Date Range
        </div>
        <div class="col-lg-3">
            <!-- <select class="form-control" [(ngModel)]="period" (change)="onSelect($event.target.value)">
                <option value='0' selected="selected">Select Date Range</option>
                <option value='day'>Yesterday</option>
                <option value='week'>Week</option>
                <option value='28Days' [ngValue]="undefined">28 Days</option>
            </select> -->
            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="20">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="fromDate" (dateChange)="onStartDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error>Please select start date!</mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-3">
            <mat-form-field appearance="fill" class="pr-sm-4" fxFlex="0">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="endDatePicker" name="end" [formControl]="toDate" (dateChange)="onEndDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
                <mat-error>Please select End date!</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button class="mr-1 btn btn-primary btn-lg" type="button" (click)="getRankingGraphDataDelete()">
                <i class="fa fa-linkedin mr-1"></i>
                Refresh Data
            </button>
        </div>
    </div>
</div>


<div class="row overflow-hidden" >
    <div class="container-fluid card-padding">
        <div class="col-md-6">
            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">RANKINGS SUMMARY</h4>
                    <!-- <i class="col-md-2 fa fa-info-circle paddingtop3px "
                   matTooltip="Distribution of targeted keywords according to ranking performance"></i> -->
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" >
                        <canvas baseChart id="canvas" [chartType]="'bar'" [options]="barOptions"
                            [datasets]="barData.datasets" [colors]="barColors1" [labels]="barChartLabels1"
                            [legend]="true" height="90">
                        </canvas>
                    </div>
                    <div class="btn-container footer-buttons text-center">
                        <a href="javascript:void(0)" class="btn btn-link" (click)="goToKeywords($event)">All
                            Rankings</a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0)" class="btn btn-link" (click)="goToAddKeywords($event)">Add
                            Keywords</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">

            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">TRAFFIC SOURCES</h4>
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" >
                        <div *ngIf="showSpinnerSiteAnalysisContent" class="la-line-scale  linescaleloadercolortopleft">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <canvas *ngIf="!showSpinnerSiteAnalysisContent" baseChart [datasets]="lineChartData1"
                            [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1"
                            [legend]="lineChartLegend1" [chartType]="lineChartType1" [plugins]="lineChartPlugins1"
                            [fullWidth]="true">
                        </canvas>
                    </div>


                    <!-- *ngIf="!hasActiveAccount && !hasAuthorize" -->
                    <!-- <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
                        <div class="widget-overlay-content text-center">
                            <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                            <div class="text-center btn-container">
                                <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                                    &nbsp;&nbsp;Integrate Google Analytics</a>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid card-padding card-width">
        <div class="card card-default shadow bg-white rounded cursor-default">
            <div class="row card-margin">
                <div class="col-sm-1">
                    <h3 class="colour-light"></h3>
                    <h3 class="colour-light font-weight"> YoY Metrics</h3>
                    <h3 class="fontxlrge"></h3>
                    <!-- <h3 class="fontsizesmall">1</h3> -->

                </div>
                <div class="vl"></div>
                <div class="col-sm-1">
                    <h3 class="colour-light">Clicks</h3>
                    <h1 class="fontxxlrge">{{clicksThisYear}}</h1>
                    <h3 class="fontsizesmall" [ngClass]="{'red-font': 0 > percentClicks}">{{this.percentClicks}}</h3>

                </div>
                <div class="vl"></div>
                <div class="col-sm-2">
                    <h3 class="colour-light">Impressions</h3>
                    <h3 class="fontxxlrge">{{impressionsThisYear}}</h3>
                    <h3 class="fontsizesmall" [ngClass]="{'red-font': 0 > percentImpressions}">{{percentImpressions}}
                    </h3>


                </div>
                <div class="vl"></div>
                <div class="col-sm-2">
                    <h3 class="colour-light">CTR</h3>
                    <h3 class="fontxxlrge">{{cTRThisYear}}</h3>
                    <h3 class="fontsizesmall" [ngClass]="{'red-font': 0 > percentCTR}">{{percentCTR}}</h3>

                </div>
                <div class="vl"></div>
                <div class="col-sm-2">
                    <h3 class="colour-light">Position</h3>
                    <h3 class="fontxxlrge">{{positionThisYear}}</h3>
                    <h3 class="fontsizesmall" [ngClass]="{'red-font': 0 > percentPosition}">{{percentPosition}}</h3>


                </div>
                <div class="vl"></div>
                <div class="col-lg-4">
                    <div class="card card-default shadow bg-white rounded mr-3 cursor-default impressionsCard-height">
                        <div class="card-header borderBtm header-padding">
                            <h4 class="heading-margin font-weight">IMPRESSIONS BY DEVICE</h4>
                            <!-- <div class="row borderBtm padding5"> -->
                            <!-- <h2 class="col-xs-12 col-12 col-md-9">Impressions By Device</h2> -->
                            <!-- </div> -->

                        </div>
                        <div class="card-body row">
                            <div class="chart-wrapper mx-auto chart-container">
                                <canvas baseChart id="canvas1" [chartType]="'horizontalBar'" [options]="barOptions"
                                    [datasets]="barDataImpressionsDevice.datasets" [colors]="barColors"
                                    [labels]="barChartLabelsDevice" [legend]="true" height="85">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-12">
        <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
            <div class="widget-overlay-content text-center">
                <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                <div class="text-center btn-container">
                    <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                        &nbsp;&nbsp;Integrate Google Analytics</a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid card-padding">
        <div class="col-md-6">
            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">CLICKS</h4>
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container">
                        <canvas baseChart id="canvas" [chartType]="'line'" [options]="barOptions"
                            [datasets]="barDataClicks.datasets" [colors]="barColors" [labels]="barChartLabels"
                            [legend]="true" height="100">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">IMPRESSIONS</h4>
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container">
                        <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                            [datasets]="barDataImpressions.datasets" [colors]="barColors" [labels]="barChartLabels"
                            [legend]="true" height="100">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid card-padding">
        <div class="col-md-6">
            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">SITE CTR</h4>
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container">
                        <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                            [datasets]="barDataCTR.datasets" [colors]="barColors" [labels]="barChartLabels"
                            [legend]="true" height="100">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-default shadow bg-white rounded cursor-default card-height">
                <div class="card-header borderBtm header-padding">
                    <h4 class="heading-margin font-weight">POSITIONS</h4>
                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container">
                        <canvas baseChart id="canvas1" [chartType]="'line'" [options]="barOptions"
                            [datasets]="barDataPositions.datasets" [colors]="barColors" [labels]="barChartLabels"
                            [legend]="true" height="100">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="settingActive == 3;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="navbar navbar-default navbar-fixed-top bg-white cursor-default indicatorBoxShadow"
                    role="navigation">
                    <a class="navbar-brand" href="#" style="padding-top: 2%; ">
                        KEY PERFORMANCE INDICATOR - MOST IMPORTANT MATRICS
                    </a>
                </div>
            </div>
            <div class="col-md-1"> </div>
        </div>
        <div class="container-fluid" style="width: 93%;">
            <div class="row">
                <!-- <div class="col-lg-4">
                    <div class="card card-default shadow bg-white rounded height200px cursor-default">
                        <div class="card-header borderBtm header-padding">
                            <h4 class="heading-margin font-weight">ACQUISITION</h4>
                        </div>
                        <div class="widget-content">
                            <div class="overviewdivborder">
                                    <table class="table table-bordered font-weight-bold">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Sessions
                                                </td>
                                                <td>
                                                    % New
                                                </td>
                                                <td>
                                                    Organic Searches
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.sessions | number}}
                                                </td>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.percentNewSessions | number}}
                                                </td>
                                                <td class="text-blue">to retrieve </td>
                                            </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card card-default shadow bg-white rounded height200px cursor-default">
                        <div class="card-header borderBtm header-padding">
                            <h4 class="heading-margin font-weight">BEHAVIOUR</h4>
                        </div>
                        <div class="widget-content">
                            <div class="overviewdivborder">
                                    <table class="table table-bordered font-weight-bold">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Pageviews
                                                </td>
                                                <td>
                                                    Bounce Rate
                                                </td>
                                                <td>
                                                    Avg. Time On Page
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.pageviews | number}}
                                                </td>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.bounceRate | number}}
                                                </td>
                                                <td class="text-blue">
                                                    {{(reportsData?.googleCustomDataDto.avgSessionDuration
                                                    | number) + '%'}} </td>
                                            </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card card-default shadow bg-white rounded height200px cursor-default">
                        <div class="card-header borderBtm header-padding">
                            <h4 class="heading-margin font-weight">OUTCOME</h4>
                        </div>
                        <div class="widget-content">
                            <div class="overviewdivborder">
                                    <table class="table table-bordered font-weight-bold">
                                        <thead>
                                            <tr>
                                                <td>
                                                    Conversions
                                                </td>
                                                <td>
                                                    Conv. Rate
                                                </td>
                                                <td>
                                                    # Purchased
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.goalCompletionsAll | number}}
                                                </td>
                                                <td class="text-blue">
                                                    {{reportsData?.googleCustomDataDto.goalConversionRateAll | number}}
                                                </td>
                                                <td class="text-blue">to retrieve </td>
                                            </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="container-fluid card-width">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-default shadow bg-white rounded cursor-default webTrafficCard-height">
                                <div class="card-header borderBtm header-padding">
                                    <h4 class="heading-margin font-weight">WEB TRAFFIC BY CHANNEL</h4>
                                </div>
                                <div class="widget-content">
                                    <div *ngIf="showSpinnerSiteAnalysisContent"
                                        class="la-line-scale  linescaleloadercolortopleft">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div *ngIf=" !showSpinnerSiteAnalysisContent">
                                        <!-- <canvas *ngIf="!showSpinnerBaseChart" baseChart [datasets]="lineChartData1"
                                        [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1"
                                        [legend]="lineChartLegend1" [chartType]="pie" [plugins]="lineChartPlugins1"
                                        [fullWidth]="true">
                                    </canvas> -->
                                        <canvas id='dougnutChart' baseChart [chartType]="'pie'"
                                            [colors]="doughnutColors" [options]="doughnutOptions"
                                            [datasets]="doughnutData.datasets" [labels]="doughnutData.labels"
                                            [doughnut]="true" [legend]="true" height="210"></canvas>
                                        <!-- <div class="btn-container footer-buttonsabsolute text-center"> -->
                                            <!-- <a href="javascript:void(0)" class="btn btn-link"
                                                (click)="goToAcquisitonTrafficSources($event)">See More</a> -->
                                            <!-- &nbsp;&nbsp;&nbsp; -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-default shadow bg-white rounded cursor-default webTrafficCard-height">
                                <div class="card-header borderBtm header-padding">
                                    <h4 class="heading-margin font-weight">WEB TRAFFIC BY DEVICE </h4>
                                </div>
                                <div class="widget-content">
                                    <div *ngIf="showSpinnerSiteAnalysisContent"
                                        class="la-line-scale  linescaleloadercolortopleft">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div *ngIf=" !showSpinnerSiteAnalysisContent">
                                        <div>
                                            <canvas id='dougnutChart1' baseChart [chartType]="'bar'"
                                                [options]="doughnutOptions1" [datasets]="doughnutData1.datasets"
                                                [labels]="doughnutData1.labels" [legend]="true" height="210"></canvas>
                                        </div>
                                        <!-- <div class="btn-container footer-buttonsabsolute text-center"> -->
                                            <!-- <a href="javascript:void(0)" class="btn btn-link"
                                                (click)="goToAudienceDeviceCategory($event)">See More</a> -->
                                            <!-- &nbsp;&nbsp;&nbsp; -->
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-default shadow bg-white rounded webTrafficCard-height cursor-default">
                                <div class="card-header borderBtm header-padding">
                                    <h4 class="heading-margin font-weight">SITE SPEED</h4>
                                </div>
                                <div class="widget-content content-padding">
                                    <div *ngIf="showSpinnerSiteAnalysisContent"
                                        class="la-line-scale  linescaleloadercolortopleft">
                                      
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-sm-6"> -->
                                            <!-- <label class="reportmarginbottom font-weight">Load Experience Result</label> -->
                                        <!-- <table class="table table-bordered table-width">
                                        <tr class="fontsizesmall">
                                            <td class="pd-0">Layout Shift Score </td>
                                            <td>{{ CUMULATIVE_LAYOUT_SHIFT_SCORE }}</td>
                                        </tr>
                                        <tr class="fontsizesmall">
                                            <td class="pd-0">Largest Contentful paint</td>
                                            <td>{{LARGEST_CONTENTFUL_PAINT_MS}}</td>
                                        </tr>
                                        <tr class="fontsizesmall">
                                            <td class="pd-0">First Contentful Paint</td>
                                            <td>{{FIRST_CONTENTFUL_PAINT_MS}}</td>
                                        </tr>
                                        <tr class="fontsizesmall">
                                            <td class="pd-0">First Input Delay</td>
                                            <td>{{FIRST_INPUT_DELAY_MS}}</td>
                                        </tr>
                                    </table>     -->
                                    </div>    
                                    
                                    
                                    <div class="col-sm-6"> 
                                        <label class="reportmarginbottom font-weight">Lighthouse Result</label>
                                        <table class="table table-bordered">
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">First Contentful Paint </td>
                                                <td>{{ first_contentful_paint }}</td>
                                            </tr>
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">Speed Index</td>
                                                <td>{{speed_index}}</td>
                                            </tr>
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">Time To Interactive</td>
                                                <td>{{interactive}}</td>
                                            </tr>
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">First Meaningful Paint</td>
                                                <td>{{first_meaningful_paint}}</td>
                                            </tr>
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">First CPU Idle</td>
                                                <td>{{first_cpu_idle}}</td>
                                            </tr>
                                            <tr class="fontsizesmall">
                                                <td class="pd-0">Estimated Input Latency</td>
                                                <td>{{Eestimated_input_latency}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>