<div class="row" *ngIf="settingActive == 1;">
    <div class="col-md-2"></div>
    <div class="col-md-8 closebtn paddingtop8px"><a href="javascript:void(0);"
            (click)="closeCreateCampaignComponent($event)">
            <em class="fa-2x mr-2 fas fa-times"></em></a>
    </div>
    <div class="col-md-2"> </div>
</div>
<nav class="navbar navbar-expand-sm" style="background-color: #F9FCFF;">

    <!-- Links -->
    <ul class="navbar-nav">
        <li>
            <div class="btn-group">
                <div class="btn-add-new-campaign btn btn-default">
                    <i class="fa fa-plus" aria-hidden="true" (click)="onClick($event)"></i>
                </div>
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                        aria-controls="dropdown-basic">
                        {{selectedCampaignName !== undefined ? selectedCampaignName : 'select your campaign'}}
                        <span class="caret"> </span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let campaign of campaignList"
                            [ngClass]="{'active': selectedCampId == campaign.id}"><a class="dropdown-item"
                                (click)="onCampaignSelect($event,campaign)" href="#">{{campaign.name}}</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="overview_menu" class="nav-link" data-third-menu="">
            <a href="javascript:void(0);" class="nav-link" (click)="goToCampaignOverview($event)">
                <span class="fontsizesmall">Overview</span>
            </a>
        </li>
        <li id="analytics_menu" class="nav-link" data-third-menu="analytics_menu_index">
            <a href="javascript:void(0);" class="nav-link" 
                (click)="goToAnalyticsOverview($event)">
                <span class="fontsizesmall">Analytics</span>
            </a>
        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link"
                (click)="goToSeoOverview($event)">
                <span class="fontsizesmall">SEO</span>
            </a>

        </li>
        <li id="seo_menu" class="nav-link" data-third-menu="seo_menu_index">
            <a href="javascript:void(0);" class="nav-link">
                <span class="fontsizesmall">Social Media</span>
            </a>
        </li>
    </ul>

</nav>
<div *ngIf="settingActive == 1;" class="row w3-container w3-center w3-animate-right paddingtopdiv">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
        <form [formGroup]="valForm" class="form-horizontal card formh" (keydown.enter)="$event.preventDefault()"
            (submit)="submitForm(valForm.value)" novalidate="">
            <tabset [justified]="true" #staticTabs>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Campaign Name</p>
                    </ng-template>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 paddingtopcampname">
                            <h1> Name Your Campagin</h1>
                            <h3> Your client's campaign name</h3>
                            <hr>
                            <label>CAMPAIGN NAME</label>
                            <input #name_field class="form-control campinputh" formControlName="name"
                                placeholder="Name of your campaign">
                            <span class="text-danger"
                                *ngIf="valForm.controls['name'].hasError('required') && (valForm.controls['name'].dirty || valForm.controls['name'].touched)">
                                {{'validation.NAMEISREQUIRED' | translate}}</span>
                            <br>
                            <div class="text-center">
                                <button class="mr-1 btn btn-primary btn-lg" type="submit"
                                    (click)="goToNextTab($event,name_field.value,'name',1)">Next </button>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </tab>
                <tab class="tabh" tab="2">
                    <ng-template tabHeading>
                        <p class="tabp">Website</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 paddingtopcampname">
                            <h1>Enter a Website</h1>
                            <h3> Provide your client's website to launch your new campaign</h3>
                            <hr>
                            <label>WEBSITE URL</label>
                            <div class="form-group row">
                                <input #webUrl_field class="form-control campinputh" type="url"
                                    placeholder="http:// or https://" formControlName="webUrl"
                                    [formControl]="valForm.controls['webUrl']" />
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('required') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLREQUIRED' | translate}}</span>
                                <span class="text-danger"
                                    *ngIf="valForm.controls['webUrl'].hasError('pattern') && (valForm.controls['webUrl'].dirty || valForm.controls['webUrl'].touched)">
                                    {{'validation.URLVALIDATION' | translate}}</span>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                        (click)="goToPreviousTab($event,0)">
                                         Go Back</button>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-primary btn-lg" type="submit"
                                        (click)="goToNextTab($event,webUrl_field.value,'webUrl',2)">Next
                                        ></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </tab>
                <tab class="tabh">
                    <ng-template tabHeading>
                        <p class="tabp">Goals</p>
                    </ng-template>
                    <div class="row">
                        <div class="col-md-12" class="goaldiv">
                            <h1> What would you like to accomplish?</h1>
                            <h3> Set the goal of your campaign by selecting one or all. (Optional)</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded goalsubh">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input formControlName="moreTraffic" class="form-check-input"
                                                    type="checkbox" value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-globe"></em><br>
                                                <p class="goalfonsize">MORE TRAFFIC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded goalsubh">
                                        <div class="card-body form-check-inline text-center">
                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="sales" class="form-check-input"
                                                    value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-store"></em><br>
                                                <p class="goalfonsize">SALES</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-default shadow p-2 mb-2 bg-white rounded">
                                        <div class="card-body form-check-inline text-center">

                                            <div class="col-md-1">
                                                <input type="checkbox" formControlName="leadGeneration"
                                                    class="form-check-input" value="">
                                            </div>
                                            <div class="col-md-11">
                                                <em class="fa-2x mr-2 fas fa-users"></em><br>
                                                <p class="goalfonsize">LEAD GENERATION</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="mr-1 btn btn-secondary btn-lg" type="submit"
                                        (click)="goToPreviousTab($event,1)">
                                         Go Back</button>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-4">
                                    <!-- <a routerLink="./home"> -->
                                    <button class="mr-1 btn btn-primary btn-lg" type="submit"
                                        (click)="successAlert()">Create
                                        campaign</button>
                                    <!-- </a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>
            </tabset>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row maindiv" *ngIf="settingActive == 3;">
    <div class="col-md-12">
        <div class="overviewdivfontspadding"></div>
        <div class="col-md-8">
            <div class="card card-default shadow bg-white rounded" (mouseenter)="showDiv($event,'true','seo')">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-11"> Rankings summary</h2>
                        <div class="col-xs-12 col-12 col-md-1 fontsize15px paddingleft20px">
                            <i class="fa fa-info-circle paddingtop10px "
                                matTooltip="Distribution of targeted keywords according to ranking performance"></i>
                        </div>
                    </div>

                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                        <canvas baseChart id="canvas" [chartType]="'bar'" [options]="barOptions"
                            [datasets]="barData.datasets" [colors]="barColors" [labels]="barChartLabels" [legend]="true"
                            height="80">
                        </canvas>
                    </div>
                    <div class="btn-container footer-buttons text-center">
                        <a href="javascript:void(0)" class="btn btn-link" (click)="goToKeywords($event)">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-default shadow bg-white rounded ">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-10"> Keyword Rankings</h2>
                        <div class="col-xs-12 col-12 col-md-1 fontsize15px paddingleft20px">
                            <i class="fa fa-info-circle paddingtop10px"
                                matTooltip="Week-to-week visual representation of keywords ranking on the first page"></i>
                        </div>
                    </div>

                </div>
                <div class="card-body row">
                    <div class="chart-wrapper chart-containersmall" *ngIf="hasActiveAccount && hasAuthorize">
                        <canvas baseChart id="canvas" [chartType]="'bar'" [options]="barOptions1"
                            [datasets]="barData1.datasets" [colors]="barColors1" [labels]="barData1.labels"
                            [legend]="true" height="50" width="100">
                        </canvas>
                    </div>
                    <div class="btn-container footer-buttons text-center">
                        <a href="javascript:void(0)" class="btn btn-link" (click)="goToKeywords($event)">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="card card-default shadow p-3 mb-9 bg-white rounded">
                <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)">
                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12">

            <div class="card card-default shadow bg-white rounded">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-11">Organic Traffic</h2>
                        <div class="col-xs-12 col-12 col-md-1 fontsize15px">
                            <i class="fa fa-info-circle paddingtop10px paddingleft20px"
                                matTooltip="Traffic coming from organic search"></i>
                        </div>
                        <!-- <div class="col-xs-12 col-12 col-md-3 form-group">
                          <input type="input" placeholder="Select DateRange" class="form-control" bsDaterangepicker
                              (bsValueChange)="onDateRangeSelect($event)"
                              [bsConfig]="{ ranges: ranges, containerClass: 'theme-blue' }"
                              [bsValue]="bsInlineRangeValue">
                      </div> -->
                        <!-- <div class="btn-group">
                          <div class="btn-group" dropdown>
                              <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                  aria-controls="dropdown-basic">
                                  {{selctedLabelName !== undefined ? selctedLabelName : 'select Label'}}
                                  <span class="caret"> </span>
                              </button>
                              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                  aria-labelledby="button-basic">
                                  <li role="menuitem" *ngFor="let label of dropdownlabels"
                                      [ngClass]="{'active': selectedLabel == label.id}"><a class="dropdown-item"
                                          (click)="onLabelSelect($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                              </ul>
                          </div>
                      </div> -->
                        <!-- <p class="camph4">VS</p> -->
                        <!-- <div class="btn-group">
                          <div class="btn-group" dropdown>
                              <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                  aria-controls="dropdown-basic">
                                  {{selctedLabelName1 !== undefined ? selctedLabelName1 : 'select Matrix'}}
                                  <span class="caret"> </span>
                              </button>
                              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                  aria-labelledby="button-basic">
                                  <li role="menuitem" *ngFor="let label of dropdownlabels1"
                                      [ngClass]="{'active': selectedLabel1 == label.id}"><a class="dropdown-item"
                                          (click)="onLabelSelect1($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                              </ul>
                          </div>
                      </div> -->

                    </div>

                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                        <div *ngIf="showSpinnerBaseChart" class="la-line-scale  linescaleloadercolortopleft">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <canvas *ngIf="!showSpinnerBaseChart" baseChart [datasets]="lineChartData"
                            [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                            [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins"
                            [fullWidth]="true">
                        </canvas>
                    </div>


                    <!-- *ngIf="!hasActiveAccount && !hasAuthorize" -->
                    <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
                        <div class="widget-overlay-content text-center">
                            <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                            <div class="text-center btn-container">
                                <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                                    &nbsp;&nbsp;Integrate Google Analytics</a>
                                <!-- <img src="assets/img/ga.png"> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-6">

            <div class="card card-default shadow bg-white rounded">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-11">Traffic Sources</h2>
                        <div class="col-xs-12 col-12 col-md-1 fontsize15px">
                            <i class="fa fa-info-circle paddingtop10px"
                                matTooltip="Distribution of website traffic from different sources"></i>
                        </div>
                        <!-- <div class="col-xs-12 col-12 col-md-3 form-group">
                        <input type="input" placeholder="Select DateRange" class="form-control" bsDaterangepicker
                            (bsValueChange)="onDateRangeSelect($event)"
                            [bsConfig]="{ ranges: ranges, containerClass: 'theme-blue' }"
                            [bsValue]="bsInlineRangeValue">
                    </div> -->
                        <!-- <div class="btn-group">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                aria-controls="dropdown-basic">
                                {{selctedLabelName !== undefined ? selctedLabelName : 'select Label'}}
                                <span class="caret"> </span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let label of dropdownlabels"
                                    [ngClass]="{'active': selectedLabel == label.id}"><a class="dropdown-item"
                                        (click)="onLabelSelect($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                            </ul>
                        </div>
                    </div> -->
                        <!-- <p class="camph4">VS</p> -->
                        <!-- <div class="btn-group">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                aria-controls="dropdown-basic">
                                {{selctedLabelName1 !== undefined ? selctedLabelName1 : 'select Matrix'}}
                                <span class="caret"> </span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let label of dropdownlabels1"
                                    [ngClass]="{'active': selectedLabel1 == label.id}"><a class="dropdown-item"
                                        (click)="onLabelSelect1($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                            </ul>
                        </div>
                    </div> -->

                    </div>

                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                        <div *ngIf="showSpinnerBaseChart" class="la-line-scale  linescaleloadercolortopleft">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <canvas *ngIf="!showSpinnerBaseChart" baseChart [datasets]="lineChartData1"
                            [labels]="lineChartLabels1" [options]="lineChartOptions1" [colors]="lineChartColors1"
                            [legend]="lineChartLegend1" [chartType]="lineChartType1" [plugins]="lineChartPlugins1"
                            [fullWidth]="true">
                        </canvas>
                    </div>


                    <!-- *ngIf="!hasActiveAccount && !hasAuthorize" -->
                    <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
                        <div class="widget-overlay-content text-center">
                            <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                            <div class="text-center btn-container">
                                <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                                    &nbsp;&nbsp;Integrate Google Analytics</a>
                                <!-- <img src="assets/img/ga.png"> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="card card-default shadow bg-white rounded">
                <div class="card-header">
                    <div class="row borderBtm padding5">
                        <h2 class="col-xs-12 col-12 col-md-11">Traffic Distribution</h2>
                        <div class="col-xs-12 col-12 col-md-1 fontsize15px">
                            <i class="fa fa-info-circle paddingtop10px"
                                matTooltip="Distribution of traffic according to device type"></i>
                        </div>
                        <!-- <div class="col-xs-12 col-12 col-md-3 form-group">
                        <input type="input" placeholder="Select DateRange" class="form-control" bsDaterangepicker
                            (bsValueChange)="onDateRangeSelect($event)"
                            [bsConfig]="{ ranges: ranges, containerClass: 'theme-blue' }"
                            [bsValue]="bsInlineRangeValue">
                    </div> -->
                        <!-- <div class="btn-group">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                aria-controls="dropdown-basic">
                                {{selctedLabelName !== undefined ? selctedLabelName : 'select Label'}}
                                <span class="caret"> </span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let label of dropdownlabels"
                                    [ngClass]="{'active': selectedLabel == label.id}"><a class="dropdown-item"
                                        (click)="onLabelSelect($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                            </ul>
                        </div>
                    </div> -->
                        <!-- <p class="camph4">VS</p> -->
                        <!-- <div class="btn-group">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="input" class="btn campselectedname"
                                aria-controls="dropdown-basic">
                                {{selctedLabelName1 !== undefined ? selctedLabelName1 : 'select Matrix'}}
                                <span class="caret"> </span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu camplisth" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let label of dropdownlabels1"
                                    [ngClass]="{'active': selectedLabel1 == label.id}"><a class="dropdown-item"
                                        (click)="onLabelSelect1($event,label)" href="javascript:void(0);">{{label.label}}</a></li>
                            </ul>
                        </div>
                    </div> -->

                    </div>

                </div>
                <div class="card-body row">
                    <div class="chart-wrapper mx-auto chart-container" *ngIf="hasActiveAccount && hasAuthorize">
                        <div *ngIf="showSpinnerBaseChart" class="la-line-scale  linescaleloadercolortopleft">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <canvas *ngIf="!showSpinnerBaseChart" baseChart [datasets]="lineChartData2"
                            [labels]="lineChartLabels2" [options]="lineChartOptions2" [colors]="lineChartColors2"
                            [legend]="lineChartLegend2" [chartType]="lineChartType2" [plugins]="lineChartPlugins2"
                            [fullWidth]="true">
                        </canvas>
                    </div>


                    <!-- *ngIf="!hasActiveAccount && !hasAuthorize" -->
                    <div class="widget-overlay" *ngIf="!hasActiveAccount && !hasAuthorize">
                        <div class="widget-overlay-content text-center">
                            <h2 class="colorintegrateanalytics">Integrate Analytics</h2>
                            <div class="text-center btn-container">
                                <a class="btn ganalyticsbackgcolor" (click)="goToOverview()"> <span></span>
                                    &nbsp;&nbsp;Integrate Google Analytics</a>
                                <!-- <img src="assets/img/ga.png"> -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div class="col-lg-4">



        <div class="card card-default shadow bg-white rounded height400px">
            <div class="card-header">
                <div class="row borderBtm padding5">
                    <h2 class="col-xs-12 col-12 col-md-6 fontsize15px">Backlinks Analysis</h2>
                    <div class="col-xs-12 col-12 col-md-4 fontsize15px">
                    <i class="fa fa-info-circle paddingtop8px paddingleft220px" 
                    matTooltip="Displays elements that are crucial to website performance"></i>
                </div>
                </div>

            </div>
            <div class="widget-content">
                <div class="backlinks-analysis-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Indexed Domains</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">2</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Total Backlinks</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">6</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Citation Flow</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">11</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Referrring Domains</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">4</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Referrring IP</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">4</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-blue fontsize15px">Referring Subnet</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="badge badge-blue text-smaller text-bold">4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>