 .widget-overlay-content {
    background: #2D9CDB;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 50px 30px;
    min-width: 440px;
}

.text-center {
    text-align: center !important;
}

.widget-overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderBtm{
    border-bottom: 1px solid lightgrey;
}

.padding5{
    padding: 5px;
}

.clearfix {
    display: block;
}

.stat-container .stat-box {
    border-left: 1px solid #ECECEC;
    float: left;
    width: 11%;
    padding: 25px!important;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

 .stat-box .stat-label{
    text-align: center;
    min-height: 40px;
 }

 .chart-container {
    width: 1250px;
    height:210px;
}