<div class="wrapper" style="overflow:hidden;">
    <div class="main-panel">
        <!-- BEGIN : Main Content-->
        <div class="main-content">
            <div class="content-wrapper">
                <section id="login">

                    <nav class="navbar navbar-default navbar-fixed-top bg-white" style="box-shadow: 2px 2px #e9e6e6;" role="navigation">
                        <a class="navbar-brand" href="#">
                            <!-- <img src="./assets/img/ei-logo.png" width="30%" height="30%" alt="" /> -->
                        </a>
  
                    </nav>

                    <br />
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-5">
                            <div class="card-body card-default shadow p-3 mb-5 bg-white rounded">

                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">

                                        <p style="text-align: center; font-size: x-large;">Payment Done Successfully !</p>
                                        <div class="text-center">
                                            <div class="card">
                                                <a routerLink="/store"> View More Products Here. </a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-1"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </section>
                <!--Login Page Starts-->

                <!--Login Page Ends-->

            </div>
        </div>
        <!-- END : End Main Content-->
    </div>
</div>