<br><br>
<div class="text-center">
    <img src="../../../../assets/img/ei-logo.png" style="height: 80%">
</div>
<br><br>
<div class="col-md-4">
</div>
<div calss="col-md-4">
    <!-- <div class="card-body"> -->
    <!-- <div class="card card-default"> -->
    <div class="text-center">
        <div class="width: 100rem; height: 100rem;">

            <h1 style="color:darkblue; padding: 20px;">Welcome!</h1><br>
            <img src="../../../../../assets/img/email-logo1.png" style="height: 100px;" />
            <br><br>
            <h3>Congratulations!You are just one step away to access all features of your free
                account.</h3>
            <h4><b>Please verify your account by clicking on the confirmation sent to your email.</b></h4>
            <!-- <p>Click <a href="#">here</a> to resent varification email</p> -->
            <!-- <div class="text-center">
                       <button class="mr-1 btn btn-primary btn-lg" type="button">
                    <a href="http://www.yopmail.com/en/" style="color:blue">Let's Go</a>
                </button>
                    </div> -->
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>
<div class="col-md-4">
</div>