label{
        font-weight: normal;
    }
    #adsasd{
        width: 153%;
    }
.active{
    color:blue;
}

.filepicker{
    -webkit-appearance: none;
    position:absolute;
    top:1px;
    right:1px;
    width: 40px;
    height: 40px;
    text-indent: 100em;
    background: url('../../../../assets/img/userprofile.png');
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
.accountdivpadding {
    padding: unset;
}
.accountformppaddingfontsize {
    padding-left: 3%; font-size: large; padding-top: 1%;
}
.accountfontsizel {
    font-size: large;
}
.accountfontwfonts {
    font-weight:3px; font-size:14px;
}
.accountpanelheading {
    padding:0px; margin-bottom: 0px;
}
.accountlabelpadding {
    padding:3px 11px;
}
.accountspancolor {
    color: red;
}
.accountinputheight {
    height: 2.19rem;
}
.accountbtnbgcolor {
    background-color:#5D9CEC;color: white;
}
.accountimgwidthpadding {
    width: 90%; padding-left: 15%;
}
.accountdivpaddingtop {
    padding-top: 5%;
}
.accountinputdisplay {
    display:none;
}
.accountdivpaddingmargin {
    padding:3px; margin-bottom: 0px;
}
.accountdivpaddingtopleft {
    padding-top: 0.5rem;padding-left: 3.5rem;
}
.accountppaddingtopleft {
    padding-left: 2%; font-size: large; padding-top: 1%;
}
.accountpfontsize {
    font-size: medium; padding-top: 1%;
}
.height20px {
    height: 20px;
}
.accountppaddingleftfontsize {
    padding-left: 2%; font-size: small;
}
.fontsizesmall {
    font-size: small;
}
.fontsizesmallcolorwhite {
    color: white; font-size: small;
}
.paddingleft3 {
    padding-left: 3%;
}
.paddingtop1 {
    padding-top: 1px;
}
.fontsizemedium {
    font-size: medium;
}
.paddingleft2paddintop1 {
    padding-left: 2%;  padding-top: 1%;
}
.h3bgcolor {
    background-color:#F56A3F;color: white;
}
.paddingright2per {
    padding-right: 2%;
}
.accountdivborder {
    border-color: lightgrey;
}
.accountimgwidth {
    width: 85%; height: 45px;
}
.divbgcolorblue {
    background-color: blue;
}
    