@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import '../../../shared/styles/app/variables.scss';


.btn{
    font-size: larger;
}
h1{
    text-align: center;
    font-size: x-large;
}
h3{
    text-align: center;
}

ul{
    align-items: center;
}
.widget-overlay-content {
    background: #2D9CDB;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 50px 30px;
    min-width: 440px;
}

.text-center {
    text-align: center !important;
}

.widget-overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borderBtm{
    border-bottom: 1px solid lightgrey;
}

.padding5{
    padding: 5px;
}

.clearfix {
    display: block;
}

.stat-container .stat-box {
    border-left: 1px solid #ECECEC;
    float: left;
    width: 11%;
    padding: 25px!important;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

 .stat-box .stat-label{
    font-size: 10px;
    text-align: center;
    min-height: 40px;
 }

 .chart-container {
    width: 1250px;
    height:210px;
}
.grey-container {
    padding: 0;
    position: relative;
    height: 56px;
    margin-bottom: 0px;
    background-color: #F9FCFF;
    border: 1px solid #F9FCFF;
    box-sizing: border-box;
    border-bottom-color: #D7E9FD;
}
.pagewidth {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
}
.campaign-selector-container {
    position: absolute;
    left: 0;
    top: 10px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    display: inline;
    vertical-align: middle;
}
.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.box-shadow-header {
    box-shadow: 0 19px 20px -15px rgba(0, 0, 0, 0.15);
}
.seo_menu_index {
    border-bottom: thick;
}
.fontsizesmall {
    font-size: small;
}
.fontsizemedium {
    font-size: medium;
}
ul#page_menu {
    position: absolute;
    top: 8px;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pull-right {
    float: right!important;
    padding-top: 5px;
}
li {
    display: inline;
    text-align: -webkit-match-parent;
}
.no-third-nav:hover > div {
    display: block;
}
li span.only-show-on-hover {
    visibility: hidden;
}
li:hover span.only-show-on-hover  {
    visibility: visible;
}
.search-container {
    position: relative;
}
.search-container .svg-search {
    position: absolute;
    top: 14px;
    right: 4px;
    left: unset;
}
.text-blue {
    color: #0f9ed6!important;
    font-size: 20px;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-controltextareaheight {
    // height: 50px;
    display: block;
    width: 90%;
    max-height: 6rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.activeborderbottom {
    border-bottom: 2px solid purple; 
}
.paddingclass {
    padding-top: 10px;padding-bottom: 10px; 
}
.selectheight {
    height: 400px;
}
.editor-tag {
  cursor: text;
  font-size: 16px;
  padding: 10px 0px 10px 10px;
  border-radius: 5px;
  background: white;
  border: 1px #cccccc solid;

  & .tag-item {
    line-height: 20px;
    border-radius: 14px;
    height: 20px;
    font-size: 14px;
    display: inline-block;
    background: rgb(47, 130, 255);
    padding-left: 5px;
    color: white;

    .remove-tag {
      padding-right: 5px;
      cursor: pointer;
    }
  }

  & .tag-item:not(:first-child) {
    margin-left: 5px;
  }

  & input {
    margin: 0;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
}
#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .keywordpaddingleft {
        padding-left: 62%;height: 20px;
    }
    .keyworddivpaddingtop {
        padding-top: 20px;
    }
    .keywordformheight {
        height: 410px;
    }
    .keywordtabheight {
        height: 335px;
    }
    .keywordpfontl {
        font:large arial;
    }
    .keyworddiv1paddingtop {
        padding-top: 5px;
    }
    .keyworddiv2paddingtop {
        padding-top: 10px;
    }
    .keywordaddpaddingtop {
        padding-top: 50px;
    }
    .keywordmaindiv {
        padding: 4%;
    }
    .keywordbtnwidth {
        width:auto ;
    }
    .keywordulmaxheight {
        max-height: 300px;overflow: auto;
    }
    .keyworddivfonts {
        font-size: small;
    }
    .keywordfontsw {
        font-size: larger;  font-weight: normal;color: black;
    }
    .keywordinputwidth {
        width: fit-content;
    }
    .paddingtop8px {
        padding-top: 8px;
    }
    .paddingtop25px {
        padding-top: 25px;
    }
    .paddingtop13px {
        padding-top: 13px;
    }