
<div class="mb-3 clearfix"><h3>Campaign Details</h3>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title >Campaign Name: {{selectedCampaign.name}}</mat-card-title>
      <mat-card-subtitle>Web Url : {{selectedCampaign.webUrl}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content style="padding: 1rem;">
      <p>LeadGeneration : {{selectedCampaign.leadGeneration}}</p>
      <p>More Traffic : {{selectedCampaign.moreTraffic}}</p>
      <p>Sales : {{selectedCampaign.sales}}</p>
      <p>Plan : Link Building</p>
      <p>Sub Plan : Business Listings</p>
      <p>Price : $59</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
