<br><br>
<div class="text-center">
    <img src="../../../../assets/img/ei-logo.png" style="height: 80%">
</div><br><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-default shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <form>
                        <fieldset>
                            <div class="form-group row">
                                <div class="row">
                                    <label>EMAIL</label>
                                    <p style="color: red;">*</p>
                                    <input type="email" class="form-control " placeholder="Enter your email" />
                                    <!-- <span class="text-danger"
                                        *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">
                                        {{'validation.EMAIL' | translate}}</span> -->
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <div class="row">
                                    <label>PASSWORD</label>
                                    <p style="color: red;">*</p>
                                    <input class="form-control " placeholder="Enter your password " type="password" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-center">
                            <button class="mr-1 btn btn-primary btn-lg" type="submit">LOG IN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>